# Enables the runtime rewriting engine
RewriteEngine on

# Rewrites all URLs so that AngularJS handles the request, except those that
# correspond to existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
