<a
	ui-sref="treatment({
		id: treatment.id
	})"
	class="btn btn-link"
>
	Volver a <b>Tratamiento</b>
</a>

<h1>{{ treatment.name }}</h1>

<p>
	El siguiente formulario le permite editar un tratamiento.<br>
	<br>
	<strong>
		Los cambios realizados en el tratamiento se verán reflejados
		automáticamente en todo el sistema.
	</strong>
</p>

<div class="clearfix well">
	<form ng-submit="editTreatmentAction.execute()" novalidate>
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-floppy-save"></span>
				
				<span class="icon-text">
					Tratamiento
				</span>
			</legend>
			
			<div class="form-group">
				Ingrese los datos del tratamiento:
			</div>
			
			<div
				ng-class="{
					'has-error': ! editTreatmentAction.input.name.valid
				}"
				class="form-group"
			>
				<input
					ng-model="editTreatmentAction.input.name.value"
					popover="{{ editTreatmentAction.input.name.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					line
					type="text"
					placeholder="Nombre"
					class="form-control"
				>
			</div>
		</fieldset>
		
		<div class="form-group">
			<button type="submit" class="btn btn-warning pull-right">
				Editar tratamiento
			</button>
		</div>
	</form>
</div>
