<a
	ui-sref="clinicalImpression({
		id: clinicalImpression.id
	})"
	class="btn btn-link"
>
	Volver a <b>Impresión clínica</b>
</a>

<h1>{{ clinicalImpression.name }}</h1>

<p>
	El siguiente formulario le permite editar una impresión clínica.<br>
	<br>
	<strong>
		Los cambios realizados en la impresión clínica se verán reflejados
		automáticamente en todo el sistema.
	</strong>
</p>

<div class="clearfix well">
	<form ng-submit="editClinicalImpressionAction.execute()" novalidate>
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-floppy-save"></span>
				
				<span class="icon-text">
					Impresión clínica
				</span>
			</legend>
			
			<div class="form-group">
				Ingrese los datos de la impresión clínica:
			</div>
			
			<div
				ng-class="{
					'has-error': ! editClinicalImpressionAction.input.name.valid
				}"
				class="form-group"
			>
				<input
					ng-model="editClinicalImpressionAction.input.name.value"
					popover="{{ editClinicalImpressionAction.input.name.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					line
					type="text"
					placeholder="Nombre"
					class="form-control"
				>
			</div>
		</fieldset>
		
		<div class="form-group">
			<button type="submit" class="btn btn-warning pull-right">
				Editar impresión clínica
			</button>
		</div>
	</form>
</div>
