<nav class="navbar navbar-static-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="navbar-header">
					<a href="#/" class="navbar-brand"></a>
				</div>

				<div class="collapse navbar-collapse navbar-left navbar-text">
					Eye Tracking Record System
				</div>

				<div class="collapse navbar-collapse navbar-right">
					<div ng-if="authentication.isUserSignedIn()">
						<div dropdown class="btn-group navbar-btn">
							<a href="#/account" class="btn btn-default">
								<span class="glyphicon glyphicon-user"></span>
								{{ authentication.getSignedInUser() | honorificName }}
							</a>

							<button dropdown-toggle class="btn btn-default dropdown-toggle">
								<span class="glyphicon glyphicon-cog"></span>
							</button>

							<ul class="dropdown-menu">
								<li>
									<a><!-- TODO: action -->
										<span class="glyphicon glyphicon-lock"></span>
										Cerrar sesión
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div ng-if="! authentication.isUserSignedIn()">
						<a href="#/account/sign-in" class="btn btn-primary navbar-btn">
							<span class="glyphicon glyphicon-lock"></span>
							Iniciar sesión
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-container">
				<div ng-if="authentication.isUserSignedIn()">
					<div class="row">
						<div class="col-sm-3">
							<navigation-bar></navigation-bar>
						</div>
						
						<div class="col-sm-9">
							<view></view>
						</div>
					</div>
				</div>
				
				<div ng-if="! authentication.isUserSignedIn()">
					<view></view>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-sm-6">
					<a href="#/" class="footer-image"></a>
				</div>

				<div class="col-sm-6">
					TODO: footer-menu
				</div>
			</div>
			
			<hr>
			
			<div class="copyright-text">
				ETRS - Eye Tracking Record System |
				Copyright &copy; 2015 Federico Jasson
			</div>
		</div>
	</div>
</div>
