<nav class="navbar navbar-static-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="navbar-header">
					<a href="#/" class="navbar-brand navbar-logo-image"></a>
					<div class="navbar-logo-text">
						Eye Tracking Record System
					</div>
				</div>
				
				<div class="collapse navbar-collapse navbar-right">
					<div ng-if="authentication.isUserSignedIn()">
						<div dropdown class="btn-group navbar-btn">
							<a href="#/account" class="btn btn-link navbar-link">
								TODO: filter name
							</a>
							
							<button dropdown-toggle class="btn btn-link dropdown-toggle navbar-link">
								<span class="caret"></span>
								<span class="sr-only">Dropdown</span>
							</button>
							
							<ul role="menu" class="dropdown-menu">
								<li>
									<a>Cerrar sesión (TODO)</a>
								</li>
							</ul>
						</div>
					</div>
					
					<div ng-if="! authentication.isUserSignedIn()">
						<a href="#/account/sign-in" class="btn btn-primary navbar-btn text-uppercase">
							Iniciar sesión
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="content-container">
				<div ng-if="authentication.isUserSignedIn()">
					<div class="row">
						<div class="col-sm-3">
							<navigation></navigation>
						</div>
						
						<div class="col-sm-9">
							<view></view>
						</div>
					</div>
				</div>
				
				<div ng-if="! authentication.isUserSignedIn()">
					<view></view>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-sm-6">
					<a href="#/" class="footer-logo-image"></a>
				</div>

				<div class="col-sm-6">
					TODO: footer-menu
				</div>
			</div>
			
			<hr>
			
			<div class="copyright-text">
				ETRS - Eye Tracking Record System |
				Copyright &copy; 2015 Federico Jasson
			</div>
		</div>
	</div>
</div>
