<h1>Cambiar contraseña</h1>

<p>
	El siguiente formulario le permite cambiar su contraseña.<br>
	<br>
	<strong>
		Es importante elegir una contraseña fuerte y cambiarla frecuentemente.
	</strong>
</p>

<div class="clearfix well">
	<form ng-submit="changePasswordAction.execute()" novalidate>
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-lock"></span>
				
				<span class="icon-text">
					Contraseña
				</span>
			</legend>
			
			<div class="form-group">
				Ingrese su nueva contraseña:
			</div>
			
			<div
				ng-class="{
					'has-error': ! changePasswordAction.input.password.valid
				}"
				class="form-group"
			>
				<input
					ng-model="changePasswordAction.input.password.value"
					popover="{{ changePasswordAction.input.password.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					type="password"
					placeholder="Contraseña"
					class="form-control"
				>
			</div>
			
			<div
				ng-class="{
					'has-error': ! changePasswordAction.input.passwordConfirmation.valid
				}"
				class="form-group"
			>
				<input
					ng-model="changePasswordAction.input.passwordConfirmation.value"
					popover="{{ changePasswordAction.input.passwordConfirmation.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					type="password"
					placeholder="Confirmar contraseña"
					class="form-control"
				>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-lock"></span>
				
				<span class="icon-text">
					Credenciales
				</span>
			</legend>
			
			<div class="form-group">
				Ingrese su contraseña actual:
			</div>
			
			<div
				ng-class="{
					'has-error': ! changePasswordAction.input.credentials.password.valid
				}"
				class="form-group"
			>
				<input
					ng-model="changePasswordAction.input.credentials.password.value"
					popover="{{ changePasswordAction.input.credentials.password.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					type="password"
					placeholder="Contraseña"
					class="form-control"
				>
			</div>
		</fieldset>
		
		<div class="form-group">
			<button type="submit" class="btn btn-danger pull-right">
				Cambiar contraseña
			</button>
		</div>
	</form>
</div>
