<div class="form-horizontal">
	<div class="form-group">
		<label class="col-md-2 control-label">
			Nombre y apellido
		</label>

		<div class="col-md-3">
			<input class="form-control" ng-model="data.name" type="text">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-md-2 control-label">
			Sexo
		</label>

		<div class="col-md-3">
			<select class="form-control" ng-model="data.gender">
				<option value="null">Seleccione el sexo del paciente</option>
				<option value="F">Femenino</option>
				<option value="M">Masculino</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-md-2 control-label">
			Fecha de nacimiento
		</label>

		<div class="col-md-3">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-md-2 control-label">
			Años de educación
		</label>

		<div class="col-md-3">
		</div>
	</div>
</div>
