<h1>Registros</h1>

<p>
	TODO: text
</p>

<div class="row">
	<div class="col-sm-5 col-sm-offset-7">
		<div class="form-group has-feedback">
			<input
				ng-change="TODOtest()"
				ng-keyup="$event.keyCode == 13 && TODOtest2()"
				ng-model="searchLogsAction.input.expression.value"
				popover="{{ searchLogsAction.input.expression.message }}"
				popover-append-to-body="true"
				popover-placement="left"
				popover-trigger="focus"
				line
				null-if-empty
				type="text"
				placeholder="Buscar"
				class="form-control rounded-corners"
			>

			<span class="form-control-feedback glyphicon glyphicon-search"></span>
		</div>
	</div>
</div>

<div ng-if="logs.length === 0">
	<div ng-if="searching">
		<div class="searching-text text-center">
			Buscando…
		</div>
	</div>
	
	<div ng-if="! searching">
		<div class="no-results-text text-center">
			La búsqueda no obtuvo ningún resultado
		</div>
	</div>
</div>

<div ng-if="logs.length > 0">
	<div class="text-center">
		<pagination
			ng-change="searchLogsAction.execute()"
			ng-model="searchLogsAction.input.page.value"
			items-per-page="searchLogsAction.input.resultsPerPage.value"
			total-items="total"
			max-size="10"
			boundary-links="true"
			previous-text="‹"
			next-text="›"
			first-text="«"
			last-text="»"
		></pagination>
	</div>
	
	<table class="table table-hover">
		<thead>
			<tr>
				<th ng-click="sortingCriteriaHandler.toggle('creationDateTime')" class="col-sm-2">
					<span
						ng-class="{
							'glyphicon-chevron-down': sortingCriteriaHandler.get('creationDateTime') === 'asc',
							'glyphicon-chevron-up': sortingCriteriaHandler.get('creationDateTime') === 'desc'
						}"
						class="glyphicon"
					></span>

					<span class="icon-text">
						Fecha y hora
					</span>
				</th>

				<th ng-click="sortingCriteriaHandler.toggle('level')" class="col-sm-2">
					<span
						ng-class="{
							'glyphicon-chevron-down': sortingCriteriaHandler.get('level') === 'asc',
							'glyphicon-chevron-up': sortingCriteriaHandler.get('level') === 'desc'
						}"
						class="glyphicon"
					></span>

					<span class="icon-text">
						Nivel
					</span>
				</th>

				<th ng-click="sortingCriteriaHandler.toggle('message')" class="col-sm-8">
					<span
						ng-class="{
							'glyphicon-chevron-down': sortingCriteriaHandler.get('message') === 'asc',
							'glyphicon-chevron-up': sortingCriteriaHandler.get('message') === 'desc'
						}"
						class="glyphicon"
					></span>

					<span class="icon-text">
						Mensaje
					</span>
				</th>
			</tr>
		</thead>

		<tbody ng-if="! searching">
			<tr ng-repeat="log in logs">
				<td>
					{{ log.creationDateTime | date: 'dd/MM/yyyy HH:mm:ss' }}
				</td>

				<td>
					{{ log | levelName }}
				</td>

				<td>
					{{ log.message }}
				</td>
			</tr>
		</tbody>
	</table>
	
	<div ng-if="searching">
		<div class="searching-text text-center">
			Buscando…
		</div>
	</div>
	
	<div class="text-center">
		<pagination
			ng-change="searchLogsAction.execute()"
			ng-model="searchLogsAction.input.page.value"
			items-per-page="searchLogsAction.input.resultsPerPage.value"
			total-items="total"
			max-size="10"
			boundary-links="true"
			previous-text="‹"
			next-text="›"
			first-text="«"
			last-text="»"
		></pagination>
	</div>
</div>
