<div class="row">
	<div class="col-sm-3">
		<div class="unlocked-image"></div>
	</div>
	
	<div class="col-sm-7 col-sm-offset-2">
		<div class="clearfix well">
			<form
				ng-submit="actions.account.signUp.execute(lock, checkOutput)"
				novalidate
			>
				<fieldset>
					<legend>TODO: legend</legend>
					
					TODO: form
				</fieldset>
				
				<div class="form-group">
					<button type="submit" class="btn btn-lg btn-success pull-right">
						Registrarse
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
