<div class="modal-header">
	<button ng-click="$dismiss()" class="close">
		&times;
	</button>
	
	{{ dialog.get().title }}
</div>

<div class="modal-body">{{ dialog.get().message }}</div>

<div class="modal-footer">
	<div ng-if="dialog.get().type === 'confirmation'">
		<button ng-click="$close()" class="btn btn-danger">
			Confirmar
		</button>
		
		<button ng-click="$dismiss()" class="btn btn-default">
			Cancelar
		</button>
	</div>
	
	<div ng-if="dialog.get().type === 'information'">
		<button ng-click="$close()" class="btn btn-default">
			Aceptar
		</button>
	</div>
</div>
