<div class="modal-header">
	<button ng-click="$dismiss()" class="close">
		×
	</button>
	
	{{ dialog.get().title }}
</div>

<div class="modal-body">
	<div
		ng-class="{
			'glyphicon-question-sign': dialog.get().type === 'confirmation',
			'glyphicon-info-sign': dialog.get().type === 'information'
		}"
		
		class="glyphicon large-icon"
	></div>
	
	<div class="icon-text">{{ dialog.get().message }}</div>
</div>

<div class="modal-footer">
	<div ng-if="dialog.get().type === 'confirmation'">
		<button ng-click="$close()" class="btn btn-danger">
			Confirmar
		</button>
		
		<button ng-click="$dismiss()" class="btn btn-default">
			Cancelar
		</button>
	</div>
	
	<div ng-if="dialog.get().type === 'information'">
		<button ng-click="$close()" class="btn btn-default">
			Aceptar
		</button>
	</div>
</div>
