<span main-layout>
	<span ng-controller="CreateConsultationFormController as form">
		<h1>Ingresar nueva consulta médica</h1>
		<p>
			No es necesario completar toda la información al ingresar la
			consulta. Los datos podrán ser modificados posteriormente.
		</p>
		
		<form class="form-horizontal" ng-submit="form.submit()" novalidate>
			<div class="panel panel-default">
				<div class="panel-heading">
					Utilice los botones de la izquierda para navegar por las distintas secciones.
				</div>
				
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-3">
							<ul class="nav nav-pills nav-stacked">
								<li ng-class="{ 'active': form.isCurrentArea('data') }">
									<a class="default-button-text pointer" ng-click="form.setCurrentArea('data')">
										Datos generales
									</a>
								</li>
								
								<li ng-class="{ 'active': form.isCurrentArea('laboratory-results') }">
									<a class="default-button-text pointer" ng-click="form.setCurrentArea('laboratory-results')">
										Resultados de laboratorio
									</a>
								</li>
								
								<li ng-class="{ 'active': form.isCurrentArea('image-analysis') }">
									<a class="default-button-text pointer" ng-click="form.setCurrentArea('image-analysis')">
										Análisis de imágenes
									</a>
								</li>
								
								<li ng-class="{ 'active': form.isCurrentArea('neurocognitive-assessment') }">
									<a class="default-button-text pointer" ng-click="form.setCurrentArea('neurocognitive-assessment')">
										Evaluación neurocognitiva
									</a>
								</li>
								
								<li ng-class="{ 'active': form.isCurrentArea('treatments') }">
									<a class="default-button-text pointer" ng-click="form.setCurrentArea('treatments')">
										Tratamientos
									</a>
								</li>
							</ul>
						</div>
						
						<div class="col-sm-9">
							<span ng-if="form.isCurrentArea('data')">
								<fieldset>
									<legend>Complete los datos generales de la consulta</legend>

									<div class="form-group">
										<label class="col-sm-4 control-label">Motivo de la consulta</label>
										<div class="col-sm-8">
											<input class="form-control" placeholder="Motivo de la consulta" type="input">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">Impresión clínica</label>
										<div class="col-sm-8">
											<input class="form-control" placeholder="Impresión clínica" type="input">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">Diagnóstico</label>
										<div class="col-sm-8">
											<input class="form-control" placeholder="Diagnóstico" type="input">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">Indicaciones</label>
										<div class="col-sm-8">
											<input class="form-control" placeholder="Indicaciones" type="input">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">Observaciones</label>
										<div class="col-sm-8">
											<input class="form-control" placeholder="Observaciones" type="input">
										</div>
									</div>
								</fieldset>
							</span>
							
							<span ng-if="form.isCurrentArea('laboratory-results')">
								<fieldset>
									<legend>Complete con los resultados de laboratorio</legend>

									<div class="form-group">
										<label class="col-sm-4 control-label">Colesterol total</label>
										<div class="col-sm-8">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">Triglicéridos</label>
										<div class="col-sm-8">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">Calcio</label>
										<div class="col-sm-8">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">Fósforo</label>
										<div class="col-sm-8">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">Vitamina B</label>
										<div class="col-sm-8">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">Ácido fólico</label>
										<div class="col-sm-8">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">VDRL</label>
										<div class="col-sm-8">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">Tiroides</label>
										<div class="col-sm-8">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">APO E4</label>
										<div class="col-sm-8">
										</div>
									</div>
								</fieldset>
							</span>
							
							<span ng-if="form.isCurrentArea('image-analysis')">
								<fieldset>
									<legend>Complete con las conclusiones del análisis de las imágenes</legend>

									<div class="form-group">
										<label class="col-sm-4 control-label">RMN con disminución de corteza cerebral generalizada</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false },
													{ label: 'Se desconoce', value: null }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">RMN con disminución de volumen del hipocampo</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false },
													{ label: 'Se desconoce', value: null }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">RMN con patrón frontotemporal</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false },
													{ label: 'Se desconoce', value: null }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">RMN con patrón vascular</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false },
													{ label: 'Se desconoce', value: null }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label">Doppler de vasos de cuello</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Normal', value: true },
													{ label: 'Alterado', value: false },
													{ label: 'Se desconoce', value: null }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>
								</fieldset>
							</span>
							
							<span ng-if="form.isCurrentArea('neurocognitive-assessment')">
								<fieldset>
									<legend>Ingrese la evaluación neurocognitiva</legend>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">ACE</label>
										<div class="col-sm-8">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">MMSE</label>
										<div class="col-sm-8">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">IFS</label>
										<div class="col-sm-8">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">IMT</label>
										<div class="col-sm-8">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">Eye tracking</label>
										<div class="col-sm-8">
											<span
												combo-box-input
												model="TODO"
												options="[
													{ label: 'Patrón 1', value: '1' },
													{ label: 'Patrón 2', value: '2' },
													{ label: 'Patrón 3', value: '3' },
													{ label: 'Patrón 4', value: '4' }
												]"
											></span>
										</div>
									</div>
								</fieldset>
							</span>
							
							<span ng-if="form.isCurrentArea('treatments')">
								<fieldset>
									<legend>Ingrese los tratamientos prescritos</legend>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">IACHE</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">Memantina</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">Vitamina B</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">Ácido fólico</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">AAS</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">Taller neurocognitivo</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">Ejercicio físico</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-4 control-label">Derivación a médico de cabecera para tratar patología concomitante</label>
										<div class="col-sm-8">
											<span
												model="TODO"
												name="TODO"
												options="[
													{ label: 'Sí', value: true },
													{ label: 'No', value: false }
												]"
												radio-buttons-input
											></span>
										</div>
									</div>
								</fieldset>
							</span>
						</div>
					</div>
				</div>

				<div class="panel-footer">
					<button class="btn btn-danger default-button-text pull-right" type="submit">Ingresar consulta médica</button>
					<div class="clearfix"></div>
				</div>
			</div>
		</form>
	</span>
</span>
