<form ng-controller="CreateUserFormController as createUserForm" ng-submit="createUserForm.submit()" novalidate>
	create user form
	
	<div class="form-group" ng-class="{ 'has-error': ! createUserForm.inputModels.id.isValid }">
		<input
			class="form-control"
			ng-model="createUserForm.inputModels.id.value"
			placeholder="ID de usuario"
			popover="{{ createUserForm.inputModels.id.message }}"
			popover-placement="left"
			popover-trigger="focus"
			type="text"
		>
	</div>
	
	<div class="form-group">
		<button class="btn btn-default" type="submit">
			Ingresar usuario
		</button>
	</div>
</form>
