<h1>Ingresar antecedente patológico</h1>
<p>Complete los campos con la información solicitada.</p>

<hr>

<form class="form-horizontal" ng-controller="CreateBackgroundFormController as createBackgroundForm" ng-submit="createBackgroundForm.submit()" novalidate>
	<div class="form-group">
		<label class="col-sm-4 control-label">Nombre</label>
		
		<div class="col-sm-8">
			<input
				class="form-control"
				ng-model="createBackgroundForm.inputModels.name.value"
				popover="{{ createBackgroundForm.inputModels.name.message }}"
				popover-placement="left"
				popover-trigger="focus"
				type="text"
			>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-12">
			<button class="btn btn-default pull-right text-uppercase" type="submit">
				Ingresar antecedente patológico
			</button>
		</div>
	</div>
</form>
