<h1>Ingresar examen de laboratorio</h1>
<p>Complete los campos con la información solicitada.</p>

<hr>

<form class="form-horizontal" ng-controller="CreateLaboratoryTestFormController as createLaboratoryTestForm" ng-submit="createLaboratoryTestForm.submit()" novalidate>
	<div class="form-group">
		<label class="col-sm-4 control-label">Nombre</label>
		
		<div class="col-sm-8">
			<input
				class="form-control"
				ng-model="createLaboratoryTestForm.inputModels.name.value"
				popover="{{ createLaboratoryTestForm.inputModels.name.message }}"
				popover-placement="left"
				popover-trigger="focus"
				type="text"
			>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-4 control-label">Definición del tipo de dato</label>
		
		<div class="col-sm-8">
			<input
				class="form-control"
				ng-model="createLaboratoryTestForm.inputModels.dataTypeDefinition.value"
				popover="{{ createLaboratoryTestForm.inputModels.dataTypeDefinition.message }}"
				popover-placement="left"
				popover-trigger="focus"
				type="text"
			>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-12">
			<button class="btn btn-default pull-right text-uppercase" type="submit">
				Ingresar examen de laboratorio
			</button>
		</div>
	</div>
</form>
