<span ng-controller="FatalErrorViewController as view">
	<div class="full-center-container">
		<div class="full-center">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 well">
						<h1>{{ view.getOccurredError().message }}</h1>
						<p>
							Se produjo un error y la aplicación no puede continuar.
						</p>

						<hr>

						<h2>Detalles</h2>
						<pre>{{ view.getOccurredError().details }}</pre>

						<hr>

						<h2>Acciones</h2>
						<ul>
							<li>
								<a class="pointer" ng-click="view.refreshPage()">Recargar</a> la página.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</span>
