<h1>Administrar antecedentes patológicos</h1>
<p>
	TODO: manage backgrounds description
</p>

<hr>

<div class="row">
	<div class="col-sm-4">
		<fieldset>
			<legend>Acciones</legend>

			<a class="btn btn-block btn-default text-left" href="#/create-background">
				<span class="glyphicon glyphicon-plus"></span>
				Ingresar
			</a>

			<button class="btn btn-block btn-default text-left" type="button">
				<span class="glyphicon glyphicon-remove"></span>
				Eliminar seleccionados
			</button>
		</fieldset>
	</div>
	
	<div class="col-sm-8">
		<span ng-if="view.getBackgrounds().length === 0">
			<div class="no-items-text">
				No hay antecedentes patológicos en el sistema
			</div>
		</span>

		<span ng-if="view.getBackgrounds().length > 0">
			<table class="table">
				<thead>
					<tr>
						<th class="col-sm-1 text-center">Seleccionar</th>
						<th class="col-sm-1 text-center">Eliminar</th>
						<th class="col-sm-1 text-center">Editar</th>
						<th class="col-sm-1"></th>
						<th class="col-sm-8">Nombre</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="background in view.getBackgrounds()">
						<td class="text-center">
							<input type="checkbox">
						</td>
						
						<td class="text-center">
							<a class="clickable">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
						
						<td class="text-center">
							<a ng-href="#/edit-background/{{ background.id }}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</td>
						
						<td></td>
						
						<td>{{ background.name }}</td>
					</tr>
				</tbody>
			</table>
		</span>
	</div>
</div>
