<div class="row">
	<div class="col-sm-4">
		<div class="inbox-image"></div>
	</div>
	
	<div class="col-sm-6 col-sm-offset-1 well">
		<form ng-controller="RequestPasswordRecoveryFormController as requestPasswordRecoveryForm" ng-submit="requestPasswordRecoveryForm.submit()" novalidate>
			<fieldset>
				<legend>Recuperar contraseña</legend>
				
				<div class="form-group">
					Ingrese su nombre de usuario y la dirección de correo
					electrónico con la que se registró.
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': ! requestPasswordRecoveryForm.inputModels.id.isValid }">
					<input
						class="form-control input-lg"
						ng-model="requestPasswordRecoveryForm.inputModels.id.value"
						placeholder="Nombre de usuario"
						popover="{{ requestPasswordRecoveryForm.inputModels.id.message }}"
						popover-placement="left"
						popover-trigger="focus"
						type="text"
					>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': ! requestPasswordRecoveryForm.inputModels.emailAddress.isValid }">
					<input
						class="form-control input-lg"
						ng-model="requestPasswordRecoveryForm.inputModels.emailAddress.value"
						placeholder="Dirección de correo electrónico"
						popover="{{ requestPasswordRecoveryForm.inputModels.emailAddress.message }}"
						popover-placement="left"
						popover-trigger="focus"
						type="text"
					>
				</div>
			</fieldset>
			
			<div
				alert
				class="form-group"
				close="requestPasswordRecoveryForm.onCloseAlert()"
				ng-if="requestPasswordRecoveryForm.showAlert()"
				type="danger"
			>
				La solicitud fue rechazada.<br>
				Reingrese su nombre de usuario y su dirección de correo
				electrónico.
			</div>
			
			<div class="form-group">
				<button class="btn btn-default btn-lg pull-right text-uppercase" type="submit">
					Recuperar contraseña
				</button>
			</div>
		</form>
	</div>
</div>
