<h1>Buscar pacientes</h1>

<form ng-controller="SearchPatientsFormController as searchPatientsForm" ng-submit="searchPatientsForm.submit()" novalidate>
	<div class="form-group" ng-class="{ 'has-error': ! searchPatientsForm.inputModels.query.isValid }">
		<div class="input-group">
			<input
				class="form-control input-lg"
				ng-change="searchPatientsForm.onQueryChange()"
				ng-model="searchPatientsForm.inputModels.query.value"
				placeholder="Buscar"
				popover="{{ searchPatientsForm.inputModels.query.message }}"
				popover-placement="bottom"
				popover-trigger="focus"
				type="text"
			>
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>
			</div>
		</div>
	</div>
	
	<span ng-if="searchPatientsForm.showSearchResults()">
		<hr>

		<span ng-if="searchPatientsForm.getSearchResults().length === 0">
			<div class="no-search-results-text">
				La búsqueda no obtuvo ningún resultado
			</div>
		</span>
		
		<span ng-if="searchPatientsForm.getSearchResults().length > 0">
			<table class="table">
				<thead>
					<tr>
						<th class="col-sm-3">Apellido y nombres</th>
						<th class="col-sm-3">Sexo</th>
						<th class="col-sm-4">Fecha de nacimiento</th>
						<th class="col-sm-2">Edad</th>
					</tr>
				</thead>

				<tbody>
					<tr class="selectable-table-row" ng-click="searchPatientsForm.onPatientClick(patient.id)" ng-repeat="patient in searchPatientsForm.getSearchResults()">
						<td>{{ patient.lastNames }}, {{ patient.firstNames }}</td>
						<td>{{ patient.gender | gender }}</td>
						<td>{{ patient.birthDate | date: "d 'de' MMMM 'de' y" }}</td>
						<td>{{ patient.birthDate | age }}</td>
					</tr>
				</tbody>
			</table>
			
			<div class="text-center">
				<span
					boundary-links="true"
					first-text="&laquo;"
					items-per-page="10"
					last-text="&raquo;"
					next-text="&rsaquo;"
					ng-change="searchPatientsForm.onPageChange()"
					ng-model="searchPatientsForm.inputModels.page.value"
					pagination
					previous-text="&lsaquo;"
					total-items="searchPatientsForm.getTotalSearchResults()"
				></span>
			</div>
		</span>
	</span>
</form>
