# Disables the listing of directories in the whole directory tree
Options -Indexes

# Enables the runtime rewriting engine
RewriteEngine on

# The root URL is mapped to the client application
RewriteRule ^(/)?$ client/index.html [L]

# Rewrites all URLs, except those that are prefixed with client/ or server/
RewriteCond %{REQUEST_URI} !^client/(.*)$
RewriteCond %{REQUEST_URI} !^server/(.*)$
RewriteRule ^(.*)$ client/$1 [L]
