# Disables the directory listing
Options -Indexes

# Enables the runtime rewriting engine
RewriteEngine on

# Maps the root URL to the client application
RewriteRule ^(/)?$ client/index.html [L]

# Maps all URLs to the client application except those prefixed with "client/"
# or "server/"
RewriteCond %{REQUEST_URI} !^client/(.*)$
RewriteCond %{REQUEST_URI} !^server/(.*)$
RewriteRule ^(.*)$ client/$1 [L]
