<nav class="navbar navbar-default navbar-static-top">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/">ETRS</a>
			<p class="navbar-text">Eye Tracking Record System (TODO: fix collapse)</p>
		</div>
		
		<div authentication-section class="collapse navbar-collapse navbar-right"></div>
	</div>
</nav>

<div class="col-sm-8 col-sm-offset-2" ng-transclude></div>

<div class="col-sm-8 col-sm-offset-2">
	footer section<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<a href="#/contact">Contacto</a><br>
	<a href="#/help">Ayuda</a>
</div>
