@font-face {
	font-family: "Bebas Neue";
	src: local("Bebas Neue"), local("BebasNeue"), url(../fonts/BebasNeue.otf);
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/OpenSans-Light.ttf);
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Normal"), local("OpenSans-Normal"), url(../fonts/OpenSans-Normal.ttf);
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.ttf);
}

body {
	font-family: "Open Sans", sans-serif;
	min-width: 1024px;
}

h1, h2, h3, h4, h5, h6 {
	color: #888888;
	font-family: "Bebas Neue", sans-serif;
}

input[readonly] {
	background-color: #f0f0f0 !important;
	cursor: text !important;
}

legend {
	color: #888888;
	font-family: "Bebas Neue", sans-serif;
	font-size: 2em;
}

pre {
	white-space: pre-line;
	word-break: normal;
}

textarea {
	resize: none;
}

.action-group-list li {
	float: left;
	margin-top: 48px;
	width: 50%;
}

.action-list a {
	color: inherit;
	display: block;
	padding: 1px 24px 12px 24px;
}

.action-list a:focus {
	color: inherit;
	text-decoration: none;
}

.action-list a:hover {
	background-color: #f0f0f0;
	color: inherit;
	text-decoration: none;
}

.action-list a:hover h3 {
	text-decoration: underline;
}

.action-list li {
	clear: both;
	margin-top: 0px;
	width: 100%;
}

.as-is-text {
	white-space: pre-line;
}

.btn.btn-lg.text-uppercase {
	font-size: 1em;
	line-height: 1.7;
}

.btn.text-uppercase {
	font-size: 0.9em;
	line-height: 1.6;
}

.clickable {
	cursor: pointer;
}

.footer-logo-image {
	background-image: url(../images/footer-logo.png);
	background-position: 0px -72px;
	background-repeat: no-repeat;
	display: block;
	height: 72px;
	margin-left: auto;
	margin-right: auto;
	width: 256px;
}

.footer-logo-image:hover {
	background-position: 0px 0px;
}

.footer-text {
	color: #aaaaaa;
	font-size: 0.8em;
	margin: -8px 0px 48px 0px;
	text-align: center;
}

.fully-centered {
	display: table-cell;
	vertical-align: middle;
}

.fully-centered-container {
	display: table;
	height: 100%;
	position: fixed;
	width: 100%;
}

.inbox-image {
	background-image: url(../images/inbox.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 256px;
	width: 256px;
}

.loading-image {
	background-image: url(../images/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 30%;
	margin: 0px auto 64px auto;
	max-height: 256px;
	max-width: 256px;
	min-height: 64px;
}

.loading-text {
	color: #aaaaaa;
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.8em;
	letter-spacing: 2px;
	text-align: center;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.lock-image {
	background-image: url(../images/lock.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 256px;
	width: 256px;
}

.navbar-logo-image {
	background-image: url(../images/navbar-logo.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 48px;
	width: 80px;
}

.navbar-logo-image:hover {
	background-position: 0px -48px;
}

.navbar-logo-text {
	color: #666666;
	float: left;
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.8em;
	line-height: 50px;
	padding-left: 16px;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.no-results-text {
	color: #aaaaaa;
	line-height: 128px;
	text-align: center;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.selectable-table-row {
	cursor: pointer;
}

.selectable-table-row:hover {
	background-color: #f0f0f0;
	color: #008000;
}

.view-container {
	min-height: 320px;
	padding-bottom: 32px;
	padding-top: 8px;
}

.well pre {
	background-color: #ffffff;
}
