<div class="row">
	<div class="col-sm-3">
		<div class="unlocked-image"></div>
	</div>
	
	<div class="col-sm-7 col-sm-offset-2">
		<div class="clearfix well">
			<form
				ng-submit="actions.account.resetPassword.execute(lock, checkOutput)"
				novalidate
			>
				<fieldset>
					<legend>Nueva contraseña</legend>
					
					<div class="form-group">
						Ingrese su nueva contraseña y confírmela:
					</div>
					
					<div
						ng-class="{ 'has-error': ! actions.account.resetPassword.input.password.valid }"
						class="form-group"
					>
						<input
							ng-model="actions.account.resetPassword.input.password.value"
							popover="{{ actions.account.resetPassword.input.password.message }}"
							popover-placement="left"
							popover-trigger="focus"
							type="password"
							placeholder="Contraseña"
							class="form-control input-lg"
						>
					</div>
					
					<div
						ng-class="{ 'has-error': ! actions.account.resetPassword.input.passwordConfirmation.valid }"
						class="form-group"
					>
						<input
							ng-model="actions.account.resetPassword.input.passwordConfirmation.value"
							popover="{{ actions.account.resetPassword.input.passwordConfirmation.message }}"
							popover-placement="left"
							popover-trigger="focus"
							type="password"
							placeholder="Confirmar contraseña"
							class="form-control input-lg"
						>
					</div>
				</fieldset>
				
				<div class="form-group">
					<button type="submit" class="btn btn-lg btn-warning pull-right">
						Restablecer contraseña
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
