<div class="row">
	<div class="col-sm-3">
		<div class="locked-image"></div>
	</div>
	
	<div class="col-sm-7 col-sm-offset-2">
		<div class="clearfix well">
			<form ng-submit="signInAction.execute()" novalidate>
				<fieldset>
					<legend>
						<span class="glyphicon glyphicon-lock"></span>

						<span class="icon-text">
							Credenciales
						</span>
					</legend>
					
					<div class="form-group">
						Ingrese su nombre de usuario y su contraseña:
					</div>
					
					<div
						ng-class="{
							'has-error': ! signInAction.input.credentials.id.valid
						}"
						
						class="form-group"
					>
						<input
							ng-model="signInAction.input.credentials.id.value"
							popover="{{ signInAction.input.credentials.id.message }}"
							popover-append-to-body="true"
							popover-placement="left"
							popover-trigger="focus"
							type="text"
							placeholder="Nombre de usuario"
							class="form-control input-lg"
						>
					</div>
					
					<div
						ng-class="{
							'has-error': ! signInAction.input.credentials.password.valid
						}"
						
						class="form-group"
					>
						<input
							ng-model="signInAction.input.credentials.password.value"
							popover="{{ signInAction.input.credentials.password.message }}"
							popover-append-to-body="true"
							popover-placement="left"
							popover-trigger="focus"
							type="password"
							placeholder="Contraseña"
							class="form-control input-lg"
						>
					</div>
				</fieldset>
				
				<div class="form-group">
					<a ui-sref="TODO" class="btn-lg btn-link pull-left">
						¿Olvidó su contraseña?
					</a>
					
					<button type="submit" class="btn btn-default btn-lg pull-right">
						Iniciar sesión
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
