<span main-layout>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 well">
			<form ng-controller="ChangePasswordFormController as form" ng-submit="form.submit()" novalidate>
				<fieldset>
					<legend>Ingrese su contraseña actual</legend>

					<div class="form-group" ng-class="{ 'has-error': ! form.inputModels.TODO.isValid }">
						<input
							class="form-control input-lg"
							ng-model="form.inputModels.TODO.value"
							placeholder="Contraseña actual"
							popover="{{ form.inputModels.TODO.message }}"
							popover-placement="right"
							popover-trigger="focus"
							type="password"
						>
					</div>
				</fieldset>
					
				<hr>
				
				<fieldset>
					<legend>Ingrese su nueva contraseña</legend>
					
					<div class="form-group" ng-class="{ 'has-error': ! form.inputModels.TODO.isValid }">
						<input
							class="form-control input-lg"
							ng-model="form.inputModels.TODO.value"
							placeholder="Nueva contraseña"
							popover="{{ form.inputModels.TODO.message }}"
							popover-placement="right"
							popover-trigger="focus"
							type="password"
						>
					</div>
					
					<div class="form-group" ng-class="{ 'has-error': ! form.inputModels.TODO.isValid }">
						<input
							class="form-control input-lg"
							ng-model="form.inputModels.TODO.value"
							placeholder="Confirmar nueva contraseña"
							popover="{{ form.inputModels.TODO.message }}"
							popover-placement="right"
							popover-trigger="focus"
							type="password"
						>
					</div>
				</fieldset>
				
				<div
					alert
					class="form-group"
					close="form.closeInformativeAlert()"
					ng-if="form.includeInformativeAlert()"
					type="danger"
				>
					No fue posible autenticarse en el servidor.<br>
					Intente reingresar su contraseña.
				</div>
				
				<div class="form-group">
					<button class="btn btn-default btn-lg large-button-text pull-right" type="submit">Cambiar contraseña</button>
				</div>
			</form>
		</div>
	</div>
</span>
