<span main-layout>
	<div class="row">
		<div class="col-sm-5 well">
			<h1>Información de contacto</h1>
			<p>
				<address>
					<strong>Dirección</strong><br>
					Av. Alem 1253, oficina TODO<br>
					Bahía Blanca, Buenos Aires, Argentina<br>
					C.P. 8000
				</address>

				<address>
					<strong>Teléfonos</strong><br>
					...<br>
					...
				</address>

				<address>
					<strong>Correo electrónico</strong><br>
					TODO <a href="mailto:etrs@gmail.com">etrs@gmail.com</a>
				</address>
				
			</p>
		</div>
		
		<div class="col-sm-6 col-sm-offset-1 well">
			<h1>Formulario de contacto</h1>
			<p>
				Complete el siguiente formulario para ponerse en contacto con nosotros.
			</p>
			
			TODO: agregar formulario
		</div>
	</div>
</span>
