<form-input-section label="Nombre y apellido">
	<input
		class="form-control"
		name-input
		ng-model="form.patient.basicData.name"
		type="text"
	>
</form-input-section>

<form-input-section label="Sexo">
	<select
		class="form-control"
		ng-controller="GenderInputController as input"
		ng-model="form.patient.basicData.gender"
		ng-options="(value | gender) for value in input.values"
	></select>
</form-input-section>

<form-input-section label="Fecha de nacimiento">
	<div
		class="form-inline"
		ng-controller="DateInputController as dateInput"
	>
		<select
			class="form-control"
			ng-model="form.patient.basicData.birthDate.day"
			ng-options="(dayValue | day) for dayValue in dateInput.dayValues"
		></select>

		<select
			class="form-control"
			ng-change="dateInput.onMonthChange(form.patient.basicData.birthDate.month)"
			ng-model="form.patient.basicData.birthDate.month"
			ng-options="(monthValue | month) for monthValue in dateInput.monthValues"
		></select>

		<input
			class="form-control text-center"
			ng-change="dateInput.onYearChange(form.patient.basicData.birthDate.year)"
			ng-model="form.patient.basicData.birthDate.year"
			non-negative-number
			placeholder="Año"
			type="text"
		>
	</div>
</form-input-section>

<form-input-section label="Años de educación">
	<input
		class="form-control text-center"
		ng-model="form.patient.basicData.yearsOfEducation"
		non-negative-number
		type="text"
	>
</form-input-section>

<!--
<div class="form-group">
	<label class="col-sm- control-label"></label>
	<div class="col-sm-">
		
	</div>
</div>
-->

<!--<div class="form-group">
	<label class="col-sm-4 control-label">Nombre y apellido</label>
	<div class="col-sm-5">
		<input
			class="form-control"
			name-input
			ng-model="form.patient.basicData.name"
			type="text"
		>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-4 control-label">Sexo</label>
	<div class="col-sm-3">
		<select
			class="form-control"
			gender-input
			ng-model="form.patient.basicData.gender"
			ng-options="(value | gender) for value in input.values"
		></select>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-4 control-label">Fecha de nacimiento</label>
	<div class="col-sm-6">
		<select
			class="form-control"
			day-input
			ng-model="form.patient.basicData.birthDate.day"
			ng-options="value for value in input.values"
		></select>
		
		<select
			class="form-control"
			month-input
			ng-model="form.patient.basicData.birthDate.month"
			ng-options="(value | month) for value in input.values"
		></select>

		<input
			class="form-control text-center"
			ng-model="form.patient.basicData.birthDate.year"
			non-negative-number-input
			placeholder="Año"
			type="text"
		>
	</div>
</div>-->

<!--
<div class="form-group">
	<label class="col-sm-4 control-label">Fecha de nacimiento</label>
	<div
		class="col-sm-6 form-inline"
		ng-controller="DateInputController as birthDateInput"
		ng-init="form.patient.data.registerBirthDateInput(birthDateInput)"
	>
		<input
			class="day-input form-control text-center"
			ng-change="birthDateInput.onDayChange()"
			ng-model="birthDateInput.day"
			placeholder="Día"
			type="text"
		>

		<select
			class="form-control month-input"
			ng-model="birthDateInput.month"
			ng-options="month.label for month in birthDateInput.months"
		></select>

		<input
			class="form-control text-center year-input"
			ng-change="birthDateInput.onYearChange()"
			ng-model="birthDateInput.year"
			placeholder="Año"
			type="text"
		>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-4 control-label">Años de educación</label>
	<div class="col-sm-2">
		<input
			class="form-control text-center"
			ng-change="yearsOfEducationInput.onNumberChange()"
			ng-controller="NonNegativeNumberInputController as yearsOfEducationInput"
			ng-init="form.patient.data.registerYearsOfEducationInput(yearsOfEducationInput)"
			ng-model="yearsOfEducationInput.number"
			type="text"
		>
	</div>
</div>-->
