<a ui-sref="laboratoryTests" class="btn btn-link">
	Volver a <b>Exámenes de laboratorio</b>
</a>

<h1>Nuevo examen de laboratorio</h1>

<p>
	El siguiente formulario le permite crear un examen de laboratorio.
</p>

<p>
	<strong>
		Una vez creado, el examen de laboratorio aparecerá como opción en los
		formularios correspondientes.
	</strong>
</p>

<div class="clearfix well">
	<form ng-submit="createLaboratoryTestAction.execute()" novalidate>
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-floppy-save"></span>
				
				<span class="icon-text">
					Examen de laboratorio
				</span>
			</legend>
			
			<div class="form-group">
				Ingrese los datos del examen de laboratorio:
			</div>
			
			<div
				ng-class="{
					'has-error': ! createLaboratoryTestAction.input.name.valid
				}"
				class="form-group"
			>
				<input
					ng-model="createLaboratoryTestAction.input.name.value"
					popover="{{ createLaboratoryTestAction.input.name.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					line
					type="text"
					placeholder="Nombre"
					class="form-control"
				>
			</div>
			
			<div class="form-group">
				Ingrese la
				<a ng-click="toggleDataTypeDefinitionAlert()" class="btn btn-link inline">
					definición del tipo de dato
				</a>:
			</div>
			
			<div ng-if="showDataTypeDefinitionAlert" class="form-group">
				<alert
					type="info"
					close="toggleDataTypeDefinitionAlert()"
				>
					La definición debe consistir de un tipo de dato, que indica
					qué tipo de valores son válidos, y una definición, que
					describe propiedades adicionales.<br>
					El siguiente diagrama representa la estructura esperada:<br>
					<br>
					<b>tipo de dato; campo 0; campo 1; campo 2; …; campo n</b><br>
					<br>
					Se deben cumplir las siguientes reglas:<br>
					<br>
					- Los campos deben separarse con punto y coma (;).<br>
					- El tipo de dato debe ser uno de los predefinidos.<br>
					- Los campos de la definición deben ser de la forma
					  <b>&lt;etiqueta&gt;: &lt;valor&gt;</b> y cada etiqueta
					  debe ser distinta.<br>
					<br>
					Los tipos de dato predefinidos son los siguientes:
					
					<hr>
					
					<b>boolean</b><br>
					Debe tener exactamente 2 campos de definición y los valores
					"false" y "true" deben estar incluidos, uno en cada campo.<br>
					<br>
					<b>Por ejemplo</b>: boolean; Sí: true; No: false
					
					<hr>
					
					<b>integer_fix_values</b><br>
					Debe tener al menos 1 campo de definición y los valores
					deben ser números enteros distintos.<br>
					<br>
					<b>Por ejemplo</b>: integer_fix_values; Rojo: 1; Verde: 2;
					Azul: 3
					
					<hr>
					
					<b>integer_range</b><br>
					Debe tener exactamente 2 campos de definición y las
					etiquetas "min" y "max" deben estar incluidas, una en cada
					campo. Ambos valores deben ser números enteros. El valor
					correspondiente a la etiqueta "min" define el mínimo valor
					permitido, mientras que el de la etiqueta "max" define el
					máximo. La relación max >= min debe respetarse.<br>
					<br>
					<b>Por ejemplo</b>: integer_range; min: -5; max: 3
				</alert>
			</div>
			
			<div
				ng-class="{
					'has-error': ! createLaboratoryTestAction.input.dataTypeDefinition.valid
				}"
				class="form-group"
			>
				<input
					ng-model="createLaboratoryTestAction.input.dataTypeDefinition.value"
					popover="{{ createLaboratoryTestAction.input.dataTypeDefinition.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					line
					type="text"
					placeholder="Definición del tipo de dato"
					class="form-control"
				>
			</div>
		</fieldset>
		
		<div class="form-group">
			<button type="submit" class="btn btn-success pull-right">
				Crear examen de laboratorio
			</button>
		</div>
	</form>
</div>
