<h1>Nuevo medicamento</h1>
<p>
	TODO: text
</p>

<div class="clearfix well">
	<form ng-submit="createMedicineAction.execute()" novalidate>
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-TODO"></span>
				
				<span class="icon-text">
					TODO: text
				</span>
			</legend>
			
			<div class="form-group">
				TODO: text
			</div>
			
			<div
				ng-class="{
					'has-error': ! createMedicineAction.input.name.valid
				}"
				
				class="form-group"
			>
				<input
					ng-model="createMedicineAction.input.name.value"
					popover="{{ createMedicineAction.input.name.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					type="text"
					placeholder="Nombre"
					class="form-control"
				>
			</div>
		</fieldset>
		
		<div class="form-group">
			<button type="submit" class="btn btn-success pull-right">
				TODO: text
			</button>
		</div>
	</form>
</div>
