<a ui-sref="medicines" class="btn btn-link">
	Volver a <b>Medicamentos</b>
</a>

<h1>Nuevo medicamento</h1>

<p>
	El siguiente formulario le permite crear un medicamento.<br>
	<br>
	<strong>
		Una vez creado, el medicamento aparecerá como opción en los formularios
		correspondientes.
	</strong>
</p>

<div class="clearfix well">
	<form ng-submit="createMedicineAction.execute()" novalidate>
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-floppy-save"></span>
				
				<span class="icon-text">
					Medicamento
				</span>
			</legend>
			
			<div class="form-group">
				Ingrese los datos del medicamento:
			</div>
			
			<div
				ng-class="{
					'has-error': ! createMedicineAction.input.name.valid
				}"
				class="form-group"
			>
				<input
					ng-model="createMedicineAction.input.name.value"
					popover="{{ createMedicineAction.input.name.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					line
					type="text"
					placeholder="Nombre"
					class="form-control"
				>
			</div>
		</fieldset>
		
		<div class="form-group">
			<button type="submit" class="btn btn-success pull-right">
				Crear medicamento
			</button>
		</div>
	</form>
</div>
