<h1>Nuevo medicamento</h1>

<p class="separate-paragraph">
	El siguiente formulario le permite crear un nuevo medicamento.<br>
	<br>
	<strong>
		Los medicamentos creados aparecerán como opción al momento de ingresar una consulta médica.
	</strong>
</p>

<div class="clearfix well">
	<form ng-submit="action.createMedicine.execute()" novalidate>
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-floppy-disk"></span>

				<span class="icon-text">
					Medicamento
				</span>
			</legend>
			
			<div class="form-group">
				Ingrese los datos del medicamento:
			</div>
			
			<div
				ng-class="{
					'has-error': ! action.createMedicine.input.name.valid
				}"
				class="form-group"
			>
				<input
					ng-model="action.createMedicine.input.name.value"
					popover="{{ action.createMedicine.input.name.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					type="text"
					placeholder="Nombre"
					class="form-control"
				>
			</div>
		</fieldset>
		
		<div class="form-group">
			<button type="submit" class="btn btn-danger pull-right">
				Crear medicamento
			</button>
		</div>
	</form>
</div>
