<a
	ui-sref="cognitiveTest({
		id: cognitiveTest.id
	})"
	class="btn btn-link"
>
	Volver a <b>Examen cognitivo</b>
</a>

<h1>{{ cognitiveTest.name }}</h1>

<p>
	El siguiente formulario le permite editar un examen cognitivo.
</p>

<p>
	<strong>
		Los cambios realizados en el examen cognitivo se verán reflejados
		automáticamente en todo el sistema.
	</strong>
</p>

<p>
	<strong>
		Aunque cambie la definición del tipo de dato, los resultados de los
		exámenes ya ingresados no serán modificados. Esto significa que algunos
		pueden quedar con valores no válidos.
	</strong>
</p>

<div class="clearfix well">
	<form ng-submit="editCognitiveTestAction.execute()" novalidate>
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-floppy-save"></span>
				
				<span class="icon-text">
					Examen cognitivo
				</span>
			</legend>
			
			<div class="form-group">
				Ingrese los datos del examen cognitivo:
			</div>
			
			<div
				ng-class="{
					'has-error': ! editCognitiveTestAction.input.name.valid
				}"
				class="form-group"
			>
				<input
					ng-model="editCognitiveTestAction.input.name.value"
					popover="{{ editCognitiveTestAction.input.name.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					line
					type="text"
					placeholder="Nombre"
					class="form-control"
				>
			</div>
			
			<div class="form-group">
				Ingrese la definición del tipo de dato:
			</div>
			
			<!-- TODO: explanation -->
			<div
				ng-class="{
					'has-error': ! editCognitiveTestAction.input.dataTypeDefinition.valid
				}"
				class="form-group"
			>
				<input
					ng-model="editCognitiveTestAction.input.dataTypeDefinition.value"
					popover="{{ editCognitiveTestAction.input.dataTypeDefinition.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					line
					type="text"
					placeholder="Definición del tipo de dato"
					class="form-control"
				>
			</div>
		</fieldset>
		
		<div class="form-group">
			<button type="submit" class="btn btn-warning pull-right">
				Editar examen cognitivo
			</button>
		</div>
	</form>
</div>
