<span ng-controller="NavbarMenuController as navbarMenu">
	<span ng-if="navbarMenu.includeLogInArea()">
		<a class="btn btn-success navbar-btn" href="#/log-in">Iniciar sesión</a>
	</span>
	
	<span ng-if="navbarMenu.includeUserArea()">
		<div class="btn-group navbar-btn" dropdown>
			<a class="btn btn-danger" href="#/actions">
				Acciones
			</a>
			<button class="btn btn-danger dropdown-toggle" type="button">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" ng-controller="ActionsSectionController as actionsSection">
				<li class="dropdown-header" ng-repeat-start="actionGroup in actionsSection.getActionSet()">
					{{ actionGroup.title }}
				</li>
				<li ng-repeat="action in actionGroup.actions">
					<a ng-href="#{{ action.url }}">
						{{ action.title }}
					</a>
				</li>
				<li ng-class="{ divider: ! $last }" ng-repeat-end></li>
			</ul>
		</div>
		
		<div class="btn-group navbar-btn" dropdown>
			<a class="btn btn-primary" ng-href="#/user/{{ navbarMenu.getUser().id }}">
				{{ navbarMenu.getUser() | honorificName }}
			</a>
			<button class="btn btn-primary dropdown-toggle" type="button">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<a href="#/change-password">Cambiar contraseña</a>
				</li>
				<li>
					<a class="clickable" ng-click="logOutForm.submit()" ng-controller="LogOutFormController as logOutForm">
						Cerrar sesión
					</a>
				</li>
			</ul>
		</div>
	</span>
</span>
