<div class="fully-centered-container">
	<div class="fully-centered">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="well">
						<h1>{{ error.get().message }}</h1>
						
						<p>
							Se produjo un error.
						</p>
						
						<hr>
						
						<h2>Detalles</h2>
						
						<pre>{{ error.get().details }}</pre>
						
						<hr>
						
						<a ng-click="router.reload()" class="btn btn-link inline">
							Recargar página
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
