<h1>Contacto</h1>

<div class="row">
	<div class="col-sm-5 well">
		<h2>Información</h2>
		<p>
			<address>
				<strong>Dirección</strong><br>
				Av. Alem 1253, oficina TODO: indicar oficina<br>
				Bahía Blanca, Buenos Aires, Argentina<br>
				C.P. 8000
			</address>
			
			<address>
				<strong>Teléfonos</strong><br>
				TODO: teléfonos<br>
				...
			</address>
			
			<address>
				<strong>Correo electrónico</strong><br>
				TODO: email <a href="mailto:etrs@gmail.com">etrs@gmail.com</a>
			</address>
		</p>
	</div>
	
	<div class="col-sm-6 col-sm-offset-1 well">
		<h2>Formulario</h2>
		<p>
			Complete el siguiente formulario para ponerse en contacto con
			nosotros.
		</p>
		
		TODO: formulario
	</div>
</div>
