<form ng-controller="RequestUserCreationFormController as requestUserCreationForm" ng-submit="requestUserCreationForm.submit()" novalidate>
	request user creation form
	
	<div class="form-group" ng-class="{ 'has-error': ! requestUserCreationForm.inputModels.emailAddress.isValid }">
		<input
			class="form-control"
			ng-model="requestUserCreationForm.inputModels.emailAddress.value"
			placeholder="Dirección de correo electrónico"
			popover="{{ requestUserCreationForm.inputModels.emailAddress.message }}"
			popover-placement="left"
			popover-trigger="focus"
			type="text"
		>
	</div>
	
	<div class="form-group">
		<button class="btn btn-default" type="submit">
			Enviar invitación
		</button>
	</div>
</form>
