# Enables the runtime rewriting engine
RewriteEngine On

# Rewrites all URLs so that Slim handles the request, except those that
# corresponds to existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
