<div class="row">
	<div class="col-sm-3">
		<div class="email-image"></div>
	</div>
	
	<div class="col-sm-7 col-sm-offset-2">
		<div class="clearfix well">
			<form ng-submit="TODO.execute()" novalidate>
				<fieldset>
					<legend>
						<span class="glyphicon glyphicon-lock"></span>
						
						<span class="icon-text">
							Credenciales
						</span>
					</legend>
					
					<div class="form-group">
						Ingrese su nombre de usuario y su dirección de correo
						electrónico:
					</div>
					
					<div
						ng-class="{
							'has-error': ! TODO.input.credentials.id.valid
						}"
						
						class="form-group"
					>
						<input
							ng-model="TODO.input.credentials.id.value"
							popover="{{ TODO.input.credentials.id.message }}"
							popover-append-to-body="true"
							popover-placement="left"
							popover-trigger="focus"
							type="text"
							placeholder="Nombre de usuario"
							class="form-control input-lg"
						>
					</div>
					
					<div
						ng-class="{
							'has-error': ! TODO.input.credentials.emailAddress.valid
						}"
						
						class="form-group"
					>
						<input
							ng-model="TODO.input.credentials.emailAddress.value"
							popover="{{ TODO.input.credentials.emailAddress.message }}"
							popover-append-to-body="true"
							popover-placement="left"
							popover-trigger="focus"
							type="text"
							placeholder="Dirección de correo electrónico"
							class="form-control input-lg"
						>
					</div>
				</fieldset>
				
				<div class="form-group">
					<button type="submit" class="btn btn-danger btn-lg pull-right">
						Restablecer contraseña
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
