<div class="row">
	<div class="col-sm-3">
		<div class="email-image"></div>
	</div>
	
	<div class="col-sm-7 col-sm-offset-2">
		<div class="clearfix well">
			<form
				ng-submit="actions.account.resetPassword.request.execute(lock, checkOutput)"
				novalidate
			>
				<fieldset>
					<legend>Credenciales</legend>

					<div class="form-group">
						Ingrese su nombre de usuario y su dirección de correo electrónico:
					</div>

					<div
						ng-class="{ 'has-error': ! actions.account.resetPassword.request.input.credentials.id.valid }"
						class="form-group"
					>
						<input
							ng-model="actions.account.resetPassword.request.input.credentials.id.value"
							popover="{{ actions.account.resetPassword.request.input.credentials.id.message }}"
							popover-placement="left"
							popover-trigger="focus"
							type="text"
							placeholder="Nombre de usuario"
							class="form-control input-lg"
						>
					</div>

					<div
						ng-class="{ 'has-error': ! actions.account.resetPassword.request.input.credentials.emailAddress.valid }"
						class="form-group"
					>
						<input
							ng-model="actions.account.resetPassword.request.input.credentials.emailAddress.value"
							popover="{{ actions.account.resetPassword.request.input.credentials.emailAddress.message }}"
							popover-placement="left"
							popover-trigger="focus"
							type="text"
							placeholder="Dirección de correo electrónico"
							class="form-control input-lg"
						>
					</div>
				</fieldset>

				<div class="form-group">
					<button type="submit" class="btn btn-danger btn-lg pull-right">
						Restablecer contraseña
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
