<div class="row">
	<div class="col-sm-6 col-sm-offset-3 well">
		<form ng-controller="ChangePasswordFormController as changePasswordForm" ng-submit="changePasswordForm.submit()" novalidate>
			<fieldset>
				<legend>Ingrese su contraseña actual</legend>
				
				<div class="form-group" ng-class="{ 'has-error': ! changePasswordForm.inputModels.currentPassword.isValid }">
					<input
						class="form-control input-lg"
						ng-model="changePasswordForm.inputModels.currentPassword.value"
						placeholder="Contraseña actual"
						popover="{{ changePasswordForm.inputModels.currentPassword.message }}"
						popover-placement="left"
						popover-trigger="focus"
						type="password"
					>
				</div>
			</fieldset>
			
			<fieldset>
				<legend>Ingrese la nueva contraseña</legend>
				
				<div class="form-group" ng-class="{ 'has-error': ! changePasswordForm.inputModels.newPassword.isValid }">
					<input
						class="form-control input-lg"
						ng-model="changePasswordForm.inputModels.newPassword.value"
						placeholder="Nueva contraseña"
						popover="{{ changePasswordForm.inputModels.newPassword.message }}"
						popover-placement="left"
						popover-trigger="focus"
						type="password"
					>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': ! changePasswordForm.inputModels.newPasswordConfirmation.isValid }">
					<input
						class="form-control input-lg"
						ng-model="changePasswordForm.inputModels.newPasswordConfirmation.value"
						placeholder="Confirmar nueva contraseña"
						popover="{{ changePasswordForm.inputModels.newPasswordConfirmation.message }}"
						popover-placement="left"
						popover-trigger="focus"
						type="password"
					>
				</div>
			</fieldset>
			
			<div class="form-group">
				<button class="btn btn-default btn-lg pull-right" type="submit">
					Cambiar contraseña
				</button>
			</div>
		</form>
	</div>
</div>
