<div class="row">
	<div class="col-sm-4">
		<div class="lock-image"></div>
	</div>
	
	<div class="col-sm-6 col-sm-offset-1 well">
		<form ng-controller="LogInFormController as logInForm" ng-submit="logInForm.submit()" novalidate>
			<fieldset>
				<legend>Ingrese su nombre de usuario y contraseña</legend>
				
				<div class="form-group" ng-class="{ 'has-error': ! logInForm.inputModels.id.isValid }">
					<input
						class="form-control input-lg"
						ng-model="logInForm.inputModels.id.value"
						placeholder="Nombre de usuario"
						popover="{{ logInForm.inputModels.id.message }}"
						popover-placement="left"
						popover-trigger="focus"
						type="text"
					>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': ! logInForm.inputModels.password.isValid }">
					<input
						class="form-control input-lg"
						ng-model="logInForm.inputModels.password.value"
						placeholder="Contraseña"
						popover="{{ logInForm.inputModels.password.message }}"
						popover-placement="left"
						popover-trigger="focus"
						type="password"
					>
				</div>
			</fieldset>
			
			<div class="form-group">
				<button class="btn btn-default btn-lg pull-right" type="submit">
					Iniciar sesión
				</button>
			</div>
		</form>
	</div>
</div>
