<h1>Acciones</h1>
<p>
	En esta sección puede encontrar accesos rápidos a las acciones que puede
	realizar en el sistema.
</p>

<span ng-controller="ActionsSectionController as actionsSection">
	<ul class="action-group-list list-unstyled">
		<li ng-repeat="actionGroup in actionsSection.getActions()">
			<hr>
			
			<h2>{{ actionGroup.title }}</h2>
			<ul class="action-list list-unstyled">
				<li ng-repeat="action in actionGroup.actions">
					<a ng-href="#{{ action.url }}">
						<h3>{{ action.title }}</h3>
						<p class="presentation-text">{{ action.description }}</p>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</span>
