<span main-layout>
	<span ng-controller="ErrorViewController as view">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 well">
				<div class="error-header">{{ view.getOccurredError().getMessage() }}</div>
				<p>
					El servidor respondió con un mensaje de error.
				</p>
				
				<hr>
				
				<div class="error-header">Detalles</div>
				<pre>{{ view.getOccurredError().getDetails() }}</pre>
				
				<hr>
				
				<div class="error-header">Acciones</div>
				<ul>
					<li>Regresar a la <a href="#/">página de inicio</a>.</li>
					<li>
						Si el error ocurre frecuentemente, por favor
						<a href="#/contact">contacte al administrador</a> y
						repórtelo, incluyendo los detalles y el contexto en el
						que se produjo.
					</li>
				</ul>
			</div>
		</div>
	</span>
</span>
