<span main-layout>
	<span ng-controller="TasksViewController as view">
		<h1>Tareas</h1>
		<p>
			En esta sección se muestran las tareas que puede realizar en el
			sistema.
			<br>TODO: completar texto
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		</p>
		
		<ul class="list-unstyled">
			<li class="task-group-list-item" ng-repeat="taskGroup in view.getTaskGroups()">
				<hr>
				<h3>{{ taskGroup.getTitle() }}</h3>
				<ul class="list-unstyled">
					<li class="task-list-item" ng-repeat="task in taskGroup.getTasks()">
						<h4>
							<a class="task-link" ng-href="#{{ task.getUrl() }}">
								{{ task.getTitle() }}
							</a>
						</h4>
						<p>{{ task.getDescription() }}</p>
					</li>
				</ul>
			</li>
		</ul>
	</span>
</span>
