<div class="row">
	<div class="col-sm-3">
		<div class="unlocked-image"></div>
	</div>
	
	<div class="col-sm-7 col-sm-offset-2">
		<div class="clearfix well">
			<form ng-submit="action.resetPassword.execute()" novalidate>
				<fieldset>
					<legend>
						<span class="glyphicon glyphicon-lock"></span>
						
						<span class="icon-text">
							Nueva contraseña
						</span>
					</legend>
					
					<div class="form-group">
						Ingrese su nueva contraseña:
					</div>
					
					<div
						ng-class="{
							'has-error': ! action.resetPassword.input.password.valid
						}"
						class="form-group"
					>
						<input
							ng-model="action.resetPassword.input.password.value"
							popover="{{ action.resetPassword.input.password.message }}"
							popover-append-to-body="true"
							popover-placement="left"
							popover-trigger="focus"
							type="password"
							placeholder="Contraseña"
							class="form-control input-lg"
						>
					</div>
					
					<div
						ng-class="{
							'has-error': ! action.resetPassword.input.passwordConfirmation.valid
						}"
						class="form-group"
					>
						<input
							ng-model="action.resetPassword.input.passwordConfirmatopn.value"
							popover="{{ action.resetPassword.input.passwordConfirmation.message }}"
							popover-append-to-body="true"
							popover-placement="left"
							popover-trigger="focus"
							type="password"
							placeholder="Confirmar contraseña"
							class="form-control input-lg"
						>
					</div>
				</fieldset>
				
				<div class="form-group">
					<button type="submit" class="btn btn-lg btn-warning pull-right">
						Restablecer contraseña
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
