<span ng-if="section.includeLogInArea()">
	<a class="btn btn-success navbar-btn" href="#/log-in">Iniciar sesión</a>
</span>

<span ng-if="section.includeLoggedInUserArea()">
	<div class="btn-group navbar-btn" dropdown>
		<button class="btn btn-default" ng-click="section.onClickTasksButton()" type="button">
			Tareas comunes
		</button>
		<button class="btn btn-default dropdown-toggle" type="button">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#">Action</a></li>
		</ul>
	</div>

	<div class="btn-group navbar-btn" dropdown>
		<button class="btn btn-primary" ng-click="section.onClickLoggedInUserButton()" type="button">
			{{ section.getLoggedInUser().getHonorificName() }}
		</button>
		<button class="btn btn-primary dropdown-toggle" type="button">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#">Action</a></li>
		</ul>
	</div>
</span>
