<nav class="navbar navbar-inverse navbar-static-top">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/">ETRS</a>
		</div>
		
		<div class="collapse navbar-collapse">
			<div ng-if="section.includeLogInArea()">
				<a
					class="btn btn-success navbar-btn navbar-right"
					href="#/log-in"
				>Iniciar sesión</a>
			</div>

			<div ng-if="section.includeUserArea()">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a ng-href="#/user/{{ section.getUser().getId() }}">
							{{ section.getUser().getHonorificName() }}
						</a>
					</li>
					<li>
						<log-out-form></log-out-form>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>