<nav class="navbar navbar-static-top">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="navbar-header">
			<a class="navbar-brand navbar-logo-image" href="#/"></a>
			<span class="navbar-logo-text">Eye Tracking Record System</span>
		</div>
		
		<div class="collapse navbar-collapse navbar-right" navbar-menu></div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 content-container" ui-view></div>
	</div>
	
	<hr>
	
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-sm-6">
					<a class="footer-logo-image" href="#/"></a>
				</div>
				
				<div class="col-sm-6">
					TODO: footer menu
				</div>
			</div>
		</div>
	</div>
	
	<hr>
	
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 footer-text">
			Desarrollado por Federico Jasson - Universidad Nacional del Sur
		</div>
	</div>
</div>
