<div class="clearfix file-handler">
	<div class="row">
		<div class="col-sm-3">
			<div class="file-icon file-icon-pdf"></div><!-- TODO: add logic -->
		</div>
		
		<div class="col-sm-9">
			<div ng-if="onRemove">
				<button
					ng-click="onRemove()"
					type="button"
					class="close"
				>
					×
				</button>
			</div>
			
			<div title="{{ file.name }}" class="file-name-text">
				{{ file.name }}
			</div>
			
			<div title="MD5: {{ file.hash }}" class="hash-text">
				<b>MD5</b>: {{ file.hash }}
			</div>
			
			<div class="download-file-text">
				<form action="/server/file/download" method="POST">
					<input type="hidden" name="id" value="{{ file.id }}">
					
					<button type="submit" class="btn btn-link inline">
						<span class="glyphicon glyphicon-download-alt"></span>
						
						<span class="icon-text">
							Descargar
						</span>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
