<div class="form-inline">
	<select
		class="day-input form-control"
		ng-model="model.day"
		ng-options="(dayValue | day) for dayValue in input.dayValues"
	></select>

	<select
		class="form-control month-input"
		ng-change="input.onModelChange(model)"
		ng-model="model.month"
		ng-options="(monthValue | month) for monthValue in input.monthValues"
	></select>

	<input
		class="form-control year-input"
		ng-change="input.onModelChange(model)"
		ng-model="model.year"
		non-negative-number-input
		placeholder="Año"
		type="text"
	>
</div>
