<input-form-section label="HTA">
	<no-yes-input
		model="form.patient.background.htn"
		name="htn"
	></no-yes-input>
</input-form-section>

<input-form-section label="DBT">
	<no-yes-input
		model="form.patient.background.dbt"
		name="dbt"
	></no-yes-input>
</input-form-section>

<input-form-section label="Dislipemia">
	<no-yes-input
		model="form.patient.background.dyslipidemia"
		name="dyslipidemia"
	></no-yes-input>
</input-form-section>

<input-form-section label="Cardiopatía">
	<no-yes-input
		model="form.patient.background.heartDisease"
		name="heart-disease"
	></no-yes-input>
</input-form-section>

<input-form-section label="TEC">
	<no-yes-input
		model="form.patient.background.ect"
		name="ect"
	></no-yes-input>
</input-form-section>

<input-form-section label="Tratamientos psiquiátricos">
	<no-yes-input
		model="form.patient.background.psychiatricTreatment"
		name="psychiatric-treatment"
	></no-yes-input>
</input-form-section>

<input-form-section label="HIV">
	<no-yes-input
		model="form.patient.background.hiv"
		name="hiv"
	></no-yes-input>
</input-form-section>

<input-form-section label="Familiares de primer grado con Alzheimer">
	<no-yes-input
		model="form.patient.background.relativesWithAlzheimer"
		name="relatives-with-alzheimer"
	></no-yes-input>
</input-form-section>
