<form
	ng-controller="NewPatientFormController as newPatientForm"
	ng-submit="newPatientForm.onSubmit()"
	novalidate
>
	<patient-data-form-section form="newPatientForm">
	</patient-data-form-section>
	
	<patient-background-form-section form="newPatientForm">
	</patient-background-form-section>
	
	<patient-medications-form-section form="newPatientForm">
	</patient-medications-form-section>
	
	<input type="submit">
	
	
	<!-- TODO: debug -->
	
	<div>Nombre y apellido: {{ newPatientForm.patient.data.inputs.name.text }}</div>
	<div>Sexo: {{ newPatientForm.patient.data.inputs.gender.gender.label }}</div>
	<div>
		Fecha de nacimiento:
		{{ newPatientForm.patient.data.inputs.birthDate.day }} de
		{{ newPatientForm.patient.data.inputs.birthDate.month.label }} de
		{{ newPatientForm.patient.data.inputs.birthDate.year }}
	</div>
	<div>Años de educación: {{ newPatientForm.patient.data.inputs.yearsOfEducation.number }}</div>
	
	<div>DBT: {{ newPatientForm.patient.background.inputs.dbt.option.label }}</div>
	<div>Dislipidemia {{ newPatientForm.patient.background.inputs.dyslipidemia.option.label }}</div>
	<div>ECT: {{ newPatientForm.patient.background.inputs.ect.option.label }}</div>
	<div>Cardiopatía: {{ newPatientForm.patient.background.inputs.heartDisease.option.label }}</div>
	<div>HIV: {{ newPatientForm.patient.background.inputs.hiv.option.label }}</div>
	<div>HTN: {{ newPatientForm.patient.background.inputs.htn.option.label }}</div>
	<div>Tratamientos psiquiátricos: {{ newPatientForm.patient.background.inputs.psychiatricTreatment.option.label }}</div>
	<div>Familiares con Alzheimer: {{ newPatientForm.patient.background.inputs.relativesWithAlzheimer.option.label }}</div>
</form>
