<form
	ng-controller="NewPatientFormController as form"
	ng-submit="form.isSectionShown('summary') && form.onSubmit()"
	novalidate
>
	<div class="panel panel-default">
		<div class="panel-heading">
			 <span class="panel-title">Nuevo paciente</span>
		</div>
		
		<div class="panel-body">
			<div class="col-sm-3">
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{ active: form.isSectionShown('data') }">
						<a
							href
							ng-click="form.showSection('data')"
						>Datos biográficos</a>
					</li>

					<li ng-class="{ active: form.isSectionShown('background') }">
						<a
							href
							ng-click="form.showSection('background')"
						>Antecedentes patológicos</a>
					</li>

					<li ng-class="{ active: form.isSectionShown('medications') }">
						<a
							href
							ng-click="form.showSection('medications')"
						>Medicación concomitante</a>
					</li>

					<!--<li ng-class="{ active: form.isSectionShown('summary') }">
						<a
							href
							ng-click="form.showSection('summary')"
						>Resumen</a>
						<a>Resumen</a>
					</li>-->
				</ul>
			</div>

			<div class="col-sm-9 form-horizontal">
				<patient-data-form-section
					form="form"
					ng-show="form.isSectionShown('data')"
				></patient-data-form-section>

				<patient-background-form-section
					form="form"
					ng-show="form.isSectionShown('background')"
				></patient-background-form-section>

				<patient-medications-form-section
					form="form"
					ng-show="form.isSectionShown('medications')"
				></patient-medications-form-section>

				<patient-summary-form-section
					form="form"
					ng-show="form.isSectionShown('summary')"
				></patient-summary-form-section>
			</div>
		</div>

		<div class="panel-footer">
			<button
				class="btn btn-default pull-right"
				ng-click="form.showSection('summary')"
				ng-hide="form.isSectionShown('summary')"
				type="button"
			>Continuar</button>
			
			<button
				class="btn btn-danger pull-right"
				ng-show="form.isSectionShown('summary')"
				type="submit"
			>Confirmar</button>
			
			<div class="clearfix"></div>
		</div>
	</div>
</form>
