<form
	ng-controller="NewPatientFormController as newPatientForm"
	ng-submit="newPatientForm.onSubmit()"
	novalidate
>
	<select
		ng-controller="GenderInputController as genderInput"
		ng-init="newPatientForm.setGenderInput(genderInput)"
		ng-model="genderInput.gender"
		ng-options="gender.label for gender in genderInput.genders"
	>
	</select>
	
	<input
		ng-change="nameInput.onTextChange()"
		ng-controller="TextInputController as nameInput"
		ng-init="newPatientForm.setNameInput(nameInput)"
		ng-model="nameInput.text"
		type="text"
	>
	
	<div
		ng-controller="DateInputController as birthDateInput"
		ng-init="newPatientForm.setBirthDateInput(birthDateInput)"
	>
		<input
			ng-change="birthDateInput.onDayChange()"
			ng-model="birthDateInput.day"
			type="text"
		>

		<select
			ng-model="birthDateInput.month"
			ng-options="month.label for month in birthDateInput.months"
		>
		</select>

		<input
			ng-change="birthDateInput.onYearChange()"
			ng-model="birthDateInput.year"
			type="text"
		>
	</div>
	
	<input
		ng-change="yearsOfEducationInput.onNumberChange()"
		ng-controller="NonNegativeNumberInputController as yearsOfEducationInput"
		ng-init="newPatientForm.setYearsOfEducationInput(yearsOfEducationInput)"
		ng-model="yearsOfEducationInput.number"
		type="text"
	>
	
	<input type="submit">
	
	<!-- TODO: debug -->
	<div>Nombre y apellido: {{ newPatientForm.inputs.name.text }}</div>
	<div>Sexo: {{ newPatientForm.inputs.gender.gender.label }}</div>
	<div>
		Fecha de nacimiento:
		{{ newPatientForm.inputs.birthDate.day }} de
		{{ newPatientForm.inputs.birthDate.month.label }} de
		{{ newPatientForm.inputs.birthDate.year }}
	</div>
	<div>Años de educación: {{ newPatientForm.inputs.yearsOfEducation.number }}</div>
</form>
