<div class="form-horizontal">
	<yes-no-unknown-section label="HTA" model="{{ controller.model }}" name="htn">
	</yes-no-unknown-section>

	<yes-no-unknown-section label="DBT" model="{{ controller.model }}" name="dbt">
	</yes-no-unknown-section>

	<yes-no-unknown-section label="Dislipemia" model="{{ controller.model }}" name="dyslipidemia">
	</yes-no-unknown-section>

	<yes-no-unknown-section label="Cardiopatía" model="{{ controller.model }}" name="heart_disease">
	</yes-no-unknown-section>

	<yes-no-unknown-section label="TEC" model="{{ controller.model }}" name="ect">
	</yes-no-unknown-section>

	<yes-no-unknown-section label="Tratamientos psiquiátricos" model="{{ controller.model }}" name="psychiatric_treatment">
	</yes-no-unknown-section>

	<yes-no-unknown-section label="HIV" model="{{ controller.model }}" name="hiv">
	</yes-no-unknown-section>

	<yes-no-unknown-section label="Familiares de primer grado con Alzheimer" model="{{ controller.model }}" name="relative_with_alzheimer">
	</yes-no-unknown-section>
</div>
