<div class="form-group">
	<label class="col-sm-4 control-label">Nombre y apellido</label>
	<div class="col-sm-5">
		<input
			class="form-control"
			ng-change="nameInput.onNameChange()"
			ng-controller="NameInputController as nameInput"
			ng-init="form.patient.data.setNameInput(nameInput)"
			ng-model="nameInput.name"
			type="text"
		>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-4 control-label">Sexo</label>
	<div class="col-sm-3">
		<select
			class="form-control"
			ng-controller="GenderInputController as genderInput"
			ng-init="form.patient.data.setGenderInput(genderInput)"
			ng-model="genderInput.gender"
			ng-options="gender.label for gender in genderInput.genders"
		></select>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-4 control-label">Fecha de nacimiento</label>
	<div
		class="col-sm-6 form-inline"
		ng-controller="DateInputController as birthDateInput"
		ng-init="form.patient.data.setBirthDateInput(birthDateInput)"
	>
		<input
			class="day-input form-control text-center"
			ng-change="birthDateInput.onDayChange()"
			ng-model="birthDateInput.day"
			placeholder="Día"
			type="text"
		>

		<select
			class="form-control month-input"
			ng-model="birthDateInput.month"
			ng-options="month.label for month in birthDateInput.months"
		></select>

		<input
			class="form-control text-center year-input"
			ng-change="birthDateInput.onYearChange()"
			ng-model="birthDateInput.year"
			placeholder="Año"
			type="text"
		>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-4 control-label">Años de educación</label>
	<div class="col-sm-2">
		<input
			class="form-control text-center"
			ng-change="yearsOfEducationInput.onNumberChange()"
			ng-controller="NonNegativeNumberInputController as yearsOfEducationInput"
			ng-init="form.patient.data.setYearsOfEducationInput(yearsOfEducationInput)"
			ng-model="yearsOfEducationInput.number"
			type="text"
		>
	</div>
</div>
