<form-input-section label="HTA">
	<no-yes-input-section
		model="form.patient.background.hta"
		name="hta"
	></no-yes-input-section>
</form-input-section>

<form-input-section label="DBT">
	<no-yes-input-section
		model="form.patient.background.dbt"
		name="dbt"
	></no-yes-input-section>
</form-input-section>

<form-input-section label="Dislipemia">
	<no-yes-input-section
		model="form.patient.background.dyslipidemia"
		name="dyslipidemia"
	></no-yes-input-section>
</form-input-section>

<form-input-section label="Cardiopatía">
	<no-yes-input-section
		model="form.patient.background.heartDisease"
		name="heart-disease"
	></no-yes-input-section>
</form-input-section>

<form-input-section label="TEC">
	<no-yes-input-section
		model="form.patient.background.ect"
		name="ect"
	></no-yes-input-section>
</form-input-section>

<form-input-section label="Tratamientos psiquiátricos">
	<no-yes-input-section
		model="form.patient.background.psychiatricTreatment"
		name="psychiatric-treatment"
	></no-yes-input-section>
</form-input-section>

<form-input-section label="HIV">
	<no-yes-input-section
		model="form.patient.background.hiv"
		name="hiv"
	></no-yes-input-section>
</form-input-section>

<form-input-section label="Familiares de primer grado con Alzheimer">
	<no-yes-input-section
		model="form.patient.background.relativesWithAlzheimer"
		name="relatives-with-alzheimer"
	></no-yes-input-section>
</form-input-section>
