<input-form-section label="Antipsicóticos">
	<no-yes-input
		model="form.patient.medications.antipsychotics"
		name="antipsychotics"
	></no-yes-input>
</input-form-section>

<input-form-section label="Antidepresivos">
	<no-yes-input
		model="form.patient.medications.antidepressants"
		name="antidepressants"
	></no-yes-input>
</input-form-section>

<input-form-section label="Benzodiacepinas">
	<no-yes-input
		model="form.patient.medications.benzodiazepines"
		name="benzodiazepines"
	></no-yes-input>
</input-form-section>

<input-form-section label="Melatonina">
	<no-yes-input
		model="form.patient.medications.melatonin"
		name="melatonin"
	></no-yes-input>
</input-form-section>

<input-form-section label="Antihipertensivos">
	<no-yes-input
		model="form.patient.medications.antihypertensives"
		name="antihypertensives"
	></no-yes-input>
</input-form-section>

<input-form-section label="Antiagregantes / Anticoagulantes">
	<no-yes-input
		model="form.patient.medications.antiplateletsAnticoagulants"
		name="antiplatelets-anticoagulants"
	></no-yes-input>
</input-form-section>

<input-form-section label="Hipolipemiantes">
	<no-yes-input
		model="form.patient.medications.hypolipidemics"
		name="hypolipidemics"
	></no-yes-input>
</input-form-section>

<input-form-section label="Normoglucemiantes">
	<no-yes-input
		model="form.patient.medications.antidiabetics"
		name="antidiabetics"
	></no-yes-input>
</input-form-section>

<input-form-section label="Levotiroxina">
	<no-yes-input
		model="form.patient.medications.levothyroxine"
		name="levothyroxine"
	></no-yes-input>
</input-form-section>
