<input-form-section label="Nombre y apellido">
	<input
		class="form-control"
		name-input
		ng-model="form.patient.basicData.name"
		type="text"
	>
</input-form-section>

<input-form-section label="Sexo">
	<gender-input model="form.patient.basicData.gender"></gender-input>
</input-form-section>

<input-form-section label="Fecha de nacimiento">
	<date-input model="form.patient.basicData.birthDate"></date-input>
</input-form-section>

<input-form-section label="Años de educación">
	<input
		class="form-control"
		ng-model="form.patient.basicData.yearsOfEducation"
		non-negative-number-input
		type="text"
	>
</input-form-section>
