<h1>Enviar invitación</h1>

<p class="isolated-paragraph">
	El siguiente formulario le permite invitar a una persona a registrarse en ETRS.<br>
	<br>
	<strong>
		Cerciórese de que la dirección de correo electrónico ingresada realmente pertenece a la persona que se pretende invitar.
		De otra forma, estará permitiendo que un desconocido tenga acceso a la información del sistema.
	</strong>
</p>

<div class="clearfix well">
	<form ng-submit="action.requestSignUp.execute()" novalidate>
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-envelope"></span>

				<span class="icon-text">
					Invitación
				</span>
			</legend>
			
			<div class="form-group">
				Ingrese el nombre, el apellido y el correo electrónico del invitado:
			</div>
			
			<div
				ng-class="{
					'has-error': ! action.requestSignUp.input.recipient.fullName.valid
				}"
				class="form-group"
			>
				<input
					ng-model="action.requestSignUp.input.recipient.fullName.value"
					popover="{{ action.requestSignUp.input.recipient.fullName.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					type="text"
					placeholder="Nombre y apellido"
					class="form-control"
				>
			</div>
			
			<div
				ng-class="{
					'has-error': ! action.requestSignUp.input.recipient.emailAddress.valid
				}"
				class="form-group"
			>
				<input
					ng-model="action.requestSignUp.input.recipient.emailAddress.value"
					popover="{{ action.requestSignUp.input.recipient.emailAddress.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					type="text"
					placeholder="Dirección de correo electrónico"
					class="form-control"
				>
			</div>
			
			<div class="form-group">
				Indique el rol que cumplirá el invitado en el sistema:
			</div>
			
			<div
				ng-class="{
					'has-error': ! action.requestSignUp.input.userRole.valid
				}"
				class="form-group"
			>
				<select
					ng-model="action.requestSignUp.input.userRole.value"
					class="form-control"
				>
					<option value="">Rol de usuario</option>
					<option disabled></option>
					<option value="ad">Administrador</option>
					<option value="dr">Doctor</option>
					<option value="op">Operador</option>
				</select>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-lock"></span>

				<span class="icon-text">
					Credenciales
				</span>
			</legend>
			
			<div class="form-group">
				Ingrese su contraseña:
			</div>
			
			<div
				ng-class="{
					'has-error': ! action.requestSignUp.input.credentials.password.valid
				}"
				class="form-group"
			>
				<input
					ng-model="action.requestSignUp.input.credentials.password.value"
					popover="{{ action.requestSignUp.input.credentials.password.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					type="password"
					placeholder="Contraseña"
					class="form-control"
				>
			</div>
		</fieldset>
		
		<div class="form-group">
			<button type="submit" class="btn btn-danger pull-right">
				Enviar invitación
			</button>
		</div>
	</form>
</div>
