<h1>Nuevo diagnóstico</h1>

<p>
	El siguiente formulario permite crear un nuevo diagnóstico.<br>
	<br>
	<strong>
		Una vez creado, el diagnóstico aparecerá como opción en los formularios
		correspondientes.
	</strong>
</p>

<div class="clearfix well">
	<form ng-submit="createDiagnosisAction.execute()" novalidate>
		<fieldset>
			<legend>
				<span class="glyphicon glyphicon-floppy-save"></span>
				
				<span class="icon-text">
					Diagnóstico
				</span>
			</legend>
			
			<div class="form-group">
				Ingrese los datos del diagnóstico:
			</div>
			
			<div
				ng-class="{
					'has-error': ! createDiagnosisAction.input.name.valid
				}"
				class="form-group"
			>
				<input
					ng-model="createDiagnosisAction.input.name.value"
					popover="{{ createDiagnosisAction.input.name.message }}"
					popover-append-to-body="true"
					popover-placement="left"
					popover-trigger="focus"
					line
					type="text"
					placeholder="Nombre"
					class="form-control"
				>
			</div>
		</fieldset>
		
		<div class="form-group">
			<button type="submit" class="btn btn-success pull-right">
				Crear diagnóstico
			</button>
		</div>
	</form>
</div>
