<h1>Usuarios</h1>

<p>
	Esta sección le permite buscar usuarios en el sistema.
</p>

<div class="row">
	<div class="col-sm-5 col-sm-offset-7">
		<div
			ng-class="{
				'has-error': ! searchUsersAction.input.expression.valid
			}"
			class="form-group has-feedback"
		>
			<div
				ng-class="{
					'input-group': searchUsersAction.input.expression.value !== null
				}"
				class="rounded-corners"
			>
				<span ng-if="searchUsersAction.input.expression.value !== null" class="input-group-btn">
					<button ng-click="searchHandler.clearExpression()" class="btn btn-default">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</span>
				
				<input
					ng-change="searchHandler.scheduleSearch(750)"
					ng-keyup="$event.keyCode === 13 && searchHandler.search()"
					ng-model="searchUsersAction.input.expression.value"
					popover="{{ searchUsersAction.input.expression.message }}"
					popover-append-to-body="true"
					popover-placement="bottom"
					popover-trigger="focus"
					line
					null-if-empty
					type="text"
					placeholder="Buscar"
					class="form-control rounded-corners"
				>
			</div>
			
			<span class="form-control-feedback glyphicon glyphicon-search"></span>
		</div>
	</div>
</div>

<div ng-if="searchUsersAction.input.expression.valid">
	<table class="table table-hover">
		<thead>
			<tr>
				<th ng-click="searchHandler.toggleSortingDirection('firstName')" class="col-sm-2">
					<span
						ng-class="
							searchHandler.getSortingDirection('firstName') === 'asc'? 'glyphicon-chevron-down' :
							searchHandler.getSortingDirection('firstName') === 'desc'? 'glyphicon-chevron-up' :
							'no-icon'
						"
						class="glyphicon"
					></span>
					
					<span class="icon-text">
						Nombre
					</span>
				</th>
				
				<th ng-click="searchHandler.toggleSortingDirection('lastName')" class="col-sm-2">
					<span
						ng-class="
							searchHandler.getSortingDirection('lastName') === 'asc'? 'glyphicon-chevron-down' :
							searchHandler.getSortingDirection('lastName') === 'desc'? 'glyphicon-chevron-up' :
							'no-icon'
						"
						class="glyphicon"
					></span>
					
					<span class="icon-text">
						Apellido
					</span>
				</th>
				
				<th ng-click="searchHandler.toggleSortingDirection('role')" class="col-sm-2">
					<span
						ng-class="
							searchHandler.getSortingDirection('role') === 'asc'? 'glyphicon-chevron-down' :
							searchHandler.getSortingDirection('role') === 'desc'? 'glyphicon-chevron-up' :
							'no-icon'
						"
						class="glyphicon"
					></span>
					
					<span class="icon-text">
						Rol
					</span>
				</th>
				
				<th ng-click="searchHandler.toggleSortingDirection('emailAddress')" class="col-sm-3">
					<span
						ng-class="
							searchHandler.getSortingDirection('emailAddress') === 'asc'? 'glyphicon-chevron-down' :
							searchHandler.getSortingDirection('emailAddress') === 'desc'? 'glyphicon-chevron-up' :
							'no-icon'
						"
						class="glyphicon"
					></span>
					
					<span class="icon-text">
						Dirección de correo electrónico
					</span>
				</th>
				
				<th ng-click="searchHandler.toggleSortingDirection('creationDateTime')" class="col-sm-3">
					<span
						ng-class="
							searchHandler.getSortingDirection('creationDateTime') === 'asc'? 'glyphicon-chevron-down' :
							searchHandler.getSortingDirection('creationDateTime') === 'desc'? 'glyphicon-chevron-up' :
							'no-icon'
						"
						class="glyphicon"
					></span>
					
					<span class="icon-text">
						Miembro desde el
					</span>
				</th>
			</tr>
		</thead>
		
		<tbody>
			<tr
				ng-repeat="user in users"
				ui-sref="user({
					id: user.id
				})"
				table-row-link
			>
				<td>
					{{ user.firstName }}
				</td>
				
				<td>
					{{ user.lastName }}
				</td>
				
				<td>
					{{ user | role }}
				</td>
				
				<td>
					{{ user.emailAddress }}
				</td>
				
				<td>
					{{ user.creationDateTime | date: 'longDate' }}
				</td>
			</tr>
		</tbody>
	</table>
	
	<div ng-if="searching">
		<div class="searching-text text-center">
			Buscando…
		</div>
	</div>
	
	<div ng-if="! searching && users.length === 0">
		<div class="no-results-text text-center">
			La búsqueda no obtuvo ningún resultado
		</div>
	</div>
	
	<div ng-if="total / searchUsersAction.input.resultsPerPage.value > 1">
		<div class="text-center">
			<pagination
				ng-change="searchHandler.search()"
				ng-model="searchUsersAction.input.page.value"
				items-per-page="searchUsersAction.input.resultsPerPage.value"
				total-items="total"
				max-size="10"
				boundary-links="true"
				previous-text="‹"
				next-text="›"
				first-text="«"
				last-text="»"
			></pagination>
		</div>
	</div>
</div>
