<h1>Bienvenido a ETRS</h1>

<p>
	Bienvenido a <b>ETRS</b>.<br>
	Esperamos que el sistema le resulte útil y lo emplee con responsabilidad.
</p>

<p>
	<blockquote>Recuerde,
		<br>
		<strong>
			La seguridad de la información es responsabilidad de todos.
		</strong>
	</blockquote>
</p>

<p class="separate-paragraph">
	Lo saluda atentamente,<br>
	El equipo de <b>ETRS</b>
</p>

<h2>Información de contacto</h2>

<p>
	Ante cualquier duda, contáctenos:
</p>

<p>
	<address>
		<div class="pull-left">
			<span class="big-icon glyphicon glyphicon-envelope"></span>
		</div>
		
		<div class="big-icon-text pull-left">
			<b>Dirección de correo electrónico</b><br>
			<!-- TODO: define email address -->
			<a href="mailto:etrs@etrs.com.ar">
				etrs@etrs.com.ar
			</a>
		</div>
	</address>

	<address>
		<div class="pull-left">
			<span class="big-icon glyphicon glyphicon-earphone"></span>
		</div>
		
		<div class="big-icon-text pull-left">
			<b>Teléfonos</b><br>
			TODO: phones
		</div>
	</address>

	<address>
		<div class="pull-left">
			<span class="big-icon glyphicon glyphicon-home"></span>
		</div>
		
		<div class="big-icon-text pull-left">
			<b>Dirección</b><br>
			Av. Alem 1253<br>
			Bahía Blanca, Buenos Aires, Argentina<br>
			C.P. 8000
		</div>
	</address>
</p>
