<h1>Bienvenido a ETRS</h1>

<p>
	Bienvenido a <b>ETRS</b>.<br>
	Esperamos que el sistema le resulte útil y lo emplee con responsabilidad.
</p>

<p>
	Lo saluda atentamente,<br>
	El equipo de <b>ETRS</b>.
</p>

<hr>

<h2>Información de contacto</h2>

<p>Ante cualquier duda, contáctenos:</p>

<div class="clearfix">
	<address class="pull-left">
		<span class="address-icon glyphicon glyphicon-envelope pull-left"></span>

		<span class="icon-text">
			<b>Dirección de correo electrónico</b><br>
			<a href="mailto:TODO" class="btn btn-link inline">
				TODO
			</a>
		</span>
	</address>
</div>

<div class="clearfix">
	<address class="pull-left">
		<span class="address-icon glyphicon glyphicon-earphone pull-left"></span>

		<span class="icon-text">
			<b>Teléfonos</b><br>
			TODO
		</span>
	</address>
</div>

<div class="clearfix">
	<address class="pull-left">
		<span class="address-icon glyphicon glyphicon-home pull-left"></span>

		<span class="icon-text">
			<b>Dirección</b><br>
			Av. Alem 1253<br>
			Bahía Blanca, Buenos Aires, Argentina<br>
			C.P. 8000
		</span>
	</address>
</div>
