<h1>Bienvenido a ETRS</h1>

<p>
	Bienvenido a <b>ETRS</b>.<br>
	Esperamos que el sistema le resulte útil y lo emplee con responsabilidad.
</p>

<!-- TODO: write this somewhere else? -->
<blockquote>Recuerde,<br>
	<strong>La seguridad de la información es responsabilidad de todos.</strong>
</blockquote>

<p>
	Lo saluda atentamente,<br>
	El equipo de <b>ETRS</b>
</p>

<h2>Información de contacto</h2>

<p>Ante cualquier duda, contáctenos:</p>

<address>
	<span class="address-icon glyphicon glyphicon-envelope"></span>
	
	<span class="icon-text">
		<b>Dirección de correo electrónico</b><br>
		<a href="mailto:TODO">
			TODO
		</a>
	</span>
</address>

<address>
	<span class="address-icon glyphicon glyphicon-earphone"></span>
	
	<span class="icon-text">
		<b>Teléfonos</b><br>
		TODO
	</span>
</address>

<address>
	<span class="address-icon glyphicon glyphicon-home"></span>
	
	<span class="icon-text">
		<b>Dirección</b><br>
		Av. Alem 1253<br>
		Bahía Blanca, Buenos Aires, Argentina<br>
		C.P. 8000
	</span>
</address>
