<form
	class="form-horizontal"
	ng-submit="form.submit()"
	novalidate
>
	<fieldset>
		<legend>Ingrese su nombre de usuario y contraseña</legend>
		
		<div
			class="form-group"
			ng-class="{
				'has-error': form.errorFlags.userId,
				'has-feedback': form.errorFlags.userId
			}"
		>
			<input
				class="form-control input-lg"
				log-in-user-id
				ng-model="form.model.userId"
				placeholder="Nombre de usuario"
				type="text"
			>
			<span
				class="form-control-feedback glyphicon glyphicon-remove"
				ng-if="form.errorFlags.userId"
			></span>
		</div>
		
		<div
			class="form-group"
			ng-class="{
				'has-error': form.errorFlags.userPassword,
				'has-feedback': form.errorFlags.userPassword
			}"
		>
			<input
				class="form-control input-lg"
				ng-model="form.model.userPassword"
				placeholder="Contraseña"
				type="password"
			>
			<span
				class="form-control-feedback glyphicon glyphicon-remove"
				ng-if="form.errorFlags.userPassword"
			></span>
		</div>
		
		<div class="form-group">
			<button class="btn btn-default btn-lg pull-right" type="submit">Iniciar sesión</button>
		</div>
	</fieldset>
</form>
