<form
	class="form-horizontal"
	ng-submit="form.submit()"
	novalidate
>
	<fieldset>
		<legend>Ingrese su nombre de usuario y contraseña</legend>
		
		<div class="form-group">
			<label class="col-sm-5 control-label">Nombre de usuario</label>
			<div class="col-sm-7">
				<input
					class="form-control"
					ng-model="form.model.userId"
					type="text"
				>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-5 control-label">Contraseña</label>
			<div class="col-sm-7">
				<input
					class="form-control"
					ng-model="form.model.password"
					type="password"
				>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-7 col-sm-offset-5">
				<button class="btn btn-default pull-right" type="submit">Iniciar sesión</button>
			</div>
		</div>
	</fieldset>
</form>
