@font-face {
	font-family: "Bebas Neue";
	src: local("Bebas Neue"), local("BebasNeue"), url(../fonts/BebasNeue.otf);
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/OpenSans-Light.ttf);
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Normal"), local("OpenSans-Normal"), url(../fonts/OpenSans-Normal.ttf);
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.ttf);
}

body {
	font-family: "Open Sans", sans-serif;
	min-width: 1024px;
}

h1, h2, h3, h4, h5, h6, legend {
	color: #888888;
	font-family: "Bebas Neue", sans-serif;
}

input[readonly] {
	background-color: #f0f0f0 !important;
	cursor: text !important;
}

legend {
	font-size: 2em;
}

pre {
	white-space: pre-line;
	word-break: normal;
}

textarea {
	resize: none;
}

.credits-text {
	color: #aaaaaa;
	font-size: 0.8em;
	margin-bottom: 48px;
	margin-top: -8px;
	text-align: center;
}

.default-button-text {
	font-size: 0.9em;
	line-height: 1.6;
	text-transform: uppercase;
}

.footer-list-element {
	color: #666666;
	font-size: 0.9em;
	font-weight: 300;
	margin-bottom: 4px;
}

.footer-list-header {
	font-size: 0.92em;
	font-weight: 700;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.footer-list-link {
	color: inherit;
}

.footer-logo-image {
	background-image: url(../images/footer-logo-sprite.png);
	background-position: 0px -72px;
	background-repeat: no-repeat;
	height: 72px;
	width: 256px;
}

.footer-logo-image:hover {
	background-position: 0px 0px;
}

.full-center {
	display: table-cell;
	vertical-align: middle;
}

.full-center-container {
	display: table;
	height: 100%;
	position: fixed;
	width: 100%;
}

.large-button-text {
	font-size: 1em;
	line-height: 1.7;
	text-transform: uppercase;
}

.loading-image {
	background-image: url(../images/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 30%;
	margin: 0px auto 5% auto;
	max-height: 256px;
	max-width: 256px;
	min-height: 64px;
}

.loading-text {
	color: #aaaaaa;
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.8em;
	letter-spacing: 2px;
	text-align: center;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
	user-select: none;
}

.lock-image {
	background-image: url(../images/lock.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 256px;
	width: 256px;
}

.navbar-logo-image {
	background-image: url(../images/navbar-logo-sprite.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 48px;
	width: 80px;
}

.navbar-logo-image:hover {
	background-position: 0px -48px;
}

.navbar-logo-text {
	color: #666666;
	display: inline-block;
	float: left;
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.8em;
	line-height: 48px;
	margin-left: 16px;
	padding-top: 2px;
}

.no-results-found-text {
	color: #aaaaaa;
	text-align: center;
}

.patient-table-link {
	cursor: pointer;
}

.patient-table-link:hover {
	background-color: #f0f0f0;
	color: #008000;
}

.pointer {
	cursor: pointer;
}

.presentation-text {
	white-space: pre-line;
}

.task-group-list-item {
	margin-top: 48px;
}

.task-list-item {
	margin-top: 24px;
	padding-left: 32px;
}

.task-list-link {
	color: inherit;
	display: block;
	padding: 1px 24px 12px 24px;
}

.task-list-link:focus, .task-list-link:hover {
	background-color: #f0f0f0;
	color: inherit;
	text-decoration: none;
}

.task-list-link:hover h3 {
	text-decoration: underline;
}

.view-container {
	min-height: 320px;
	padding-bottom: 24px;
	padding-top: 8px;
}
