<div class="row">
	<div class="col-sm-3">
		<div class="locked-image"></div>
	</div>
	
	<div class="col-sm-7 col-sm-offset-2">
		<div class="clearfix well">
			<form
				ng-submit="actions.account.signIn.execute(lock, checkOutput)"
				novalidate
			>
				<fieldset>
					<legend>Iniciar sesión</legend>

					<div class="form-group">
						Ingrese su nombre de usuario y su contraseña.
					</div>

					<div
						ng-class="{ 'has-error': ! actions.account.signIn.input.credentials.id.valid }"
						class="form-group"
					>
						<input
							ng-model="actions.account.signIn.input.credentials.id.value"
							popover="{{ actions.account.signIn.input.credentials.id.message }}"
							popover-placement="left"
							popover-trigger="focus"
							type="text"
							placeholder="Nombre de usuario"
							class="form-control input-lg"
						>
					</div>

					<div
						ng-class="{ 'has-error': ! actions.account.signIn.input.credentials.password.valid }"
						class="form-group"
					>
						<input
							ng-model="actions.account.signIn.input.credentials.password.value"
							popover="{{ actions.account.signIn.input.credentials.password.message }}"
							popover-placement="left"
							popover-trigger="focus"
							type="password"
							placeholder="Contraseña"
							class="form-control input-lg"
						>
					</div>
				</fieldset>

				<div class="form-group">
					<a href="#/account/reset-password" class="form-link pull-left">
						¿Olvidó su contraseña?
					</a>

					<button type="submit" class="btn btn-default btn-lg pull-right">
						Iniciar sesión
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
