<div class="row">
	<div class="col-sm-3">
		<div class="locked-image"></div>
	</div>
	
	<div class="col-sm-7 col-sm-offset-2">
		<div class="clearfix well">
			<fieldset>
				<legend>Iniciar sesión</legend>
				
				<div class="form-group">
					Ingrese su nombre de usuario y su contraseña.
				</div>
				
				<div class="form-group">
					<input
						ng-model="action.account.signIn.input.credentials.id"
						type="text"
						placeholder="Nombre de usuario"
						class="form-control input-lg"
					>
					
					<!--TODO: angular logic-->
				</div>
				
				<div class="form-group">
					<input
						ng-model="action.account.signIn.input.credentials.password"
						type="password"
						placeholder="Contraseña"
						class="form-control input-lg"
					>
					
					<!--TODO: angular logic-->
				</div>
			</fieldset>
			
			<div class="form-group">
				<a href="#/account/reset-password" class="form-link pull-left">
					¿Olvidó su contraseña?
				</a>

				<button
					ng-click="action.account.signIn.execute()"
					class="btn btn-default btn-lg pull-right text-uppercase"
				>
					Iniciar sesión
				</button>
			</div>
		</div>
	</div>
</div>
