<div class="row">
	<div class="col-sm-4">
		<div class="lock-image"></div>
	</div>
	
	<div class="col-sm-8">
		<div class="well">
			<fieldset>
				<legend>Iniciar sesión</legend>
				
				<div class="form-group">
					Ingrese su nombre de usuario y su contraseña.
				</div>
				
				<div class="form-group">
					TODO
				</div>
				
				<div class="form-group">
					TODO
				</div>
			</fieldset>
				
			<div class="form-group">
				<button class="btn btn-default btn-lg text-uppercase">
					Iniciar sesión
				</button>
			</div>
		</div>
	</div>
</div>

TODO: sign-in.html
