<h1>{{ cognitiveTest.name }}</h1>

<button ng-click="deleteCognitiveTestAction.execute()" class="btn btn-danger">
	<span class="glyphicon glyphicon-remove"></span>
	
	<span class="icon-text">
		Eliminar
	</span>
</button>

<a
	ui-sref="editCognitiveTest({
		id: cognitiveTest.id
	})"
	class="btn btn-warning"
>
	<span class="glyphicon glyphicon-pencil"></span>
	
	<span class="icon-text">
		Editar
	</span>
</a>

<hr>

<h2>Datos</h2>

<p>
	<dl class="dl-horizontal">
		<dt>Nombre</dt>
		<dd>{{ cognitiveTest.name }}</dd>
		
		<dt>Definición del tipo de dato</dt>
		<dd>{{ cognitiveTest.dataTypeDefinition }}</dd>
	</dl>
</p>

TODO: show definition in a special way?
TODO: creation and edition information
