<div class="navigation-bar-header-text">
	<span class="glyphicon glyphicon-th-list"></span>
	
	<span class="icon-text">
		Menú
	</span>
</div>

<accordion>
	<accordion-group ng-repeat="menu in navigationBar.getMenus()" heading="{{ menu.name }}">
		<div ng-repeat="menuItem in menu.items" class="navigation-bar-menu-item-text">
			<a
				ng-href="#{{ menuItem.url }}"
				popover="{{ menuItem.description }}"
				popover-append-to-body="true"
				popover-placement="right"
				popover-popup-delay="750"
				popover-trigger="mouseenter"
			>
				{{ menuItem.name }}
			</a>
		</div>
	</accordion-group>
</accordion>
