<h1>{{ imagingTest.name }}</h1>

<button ng-click="deleteImagingTestAction.execute()" class="btn btn-danger">
	<span class="glyphicon glyphicon-remove"></span>
	
	<span class="icon-text">
		Eliminar
	</span>
</button>

<a
	ui-sref="editImagingTest({
		id: imagingTest.id
	})"
	class="btn btn-warning"
>
	<span class="glyphicon glyphicon-pencil"></span>
	
	<span class="icon-text">
		Editar
	</span>
</a>

<hr>

<h2>Datos</h2>

<p>
	<dl class="dl-horizontal">
		<dt>Nombre</dt>
		<dd>{{ imagingTest.name }}</dd>
		
		<dt>Definición del tipo de dato</dt>
		<dd>{{ imagingTest.dataTypeDefinition }}</dd>
	</dl>
</p>

TODO: show definition in a special way?
TODO: creation and edition information
